<!DOCTYPE html>
<html lang="en">


<head>
    <title>MyJourney</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap4/bootstrap.min.css">
    <link href="/plugins/font-awesome-5.6.1/css/all.css">
    <link rel="stylesheet" href="/dist/uikit-3.0.0-rc.25/css/uikit.min.css"/>
    <script src="/dist/uikit-3.0.0-rc.25/js/uikit.min.js"></script>
    <script src="/dist/uikit-3.0.0-rc.25/js/uikit-icons.min.js"></script>
    <script src="js/search.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/maps_styles.css">
    <link rel="stylesheet" type="text/css" href="/styles/maps_responsive.css">
    <link rel="stylesheet" type="text/css" href="/styles/spot_info.css">
    <script src="js/search.js"></script>
    <style type="text/css"> html {
        overflow-x: hidden;
        overflow-y: hidden;
    } 
    
    
    
    </style>
    <title>maps</title>
</head>
<body>
<div class="super_container">

    <!-- Header -->

    <header class="header">

        <!-- Top Bar -->
        
        <div class="top_bar">
            <div class="container">
                <div class="row">
                    <div class="col d-flex flex-row">
                        <div class="phone">
                            <a href="/index"><img class="phone" src="/images/myjourney.png"></a>
                        </div>

                        <fieldset class="field-container">
                            <input type="text" placeholder="Insert Title" value="untitled" class="field" id="title" />
                            <div class="icons-container">
                                <div class="icon-search"></div>
                                <div class="icon-close">
                                    <div class="x-up"></div>
                                    <div class="x-down"></div>
                                </div>
                            </div>
                        </fieldset>
                        
                        <div class="category-btn">
                        <input type="checkbox" id="site" name="category" checked="checked"><label for="site"><img src="/images/site.png"></label>
                        <input type="checkbox" id="restaurant" name="category" checked="checked"><label for="restaurant"><img src="/images/restaurant.png"></label>
                        <input type="checkbox" id="hotel" name="category" checked="checked"><label for="hotel"><img src="/images/hotel.png"></label>	
                        	<button id="refresh"><img src="/images/refresh.svg"></button>
                        </div>
                        
                        <div class="user_box ml-auto" th:with="member=${#authentication.principal.vo}">
                            <form class="glitch-btn" id="next">
                            	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            	<input type="hidden" th:name="usermail" th:value="${member.usermail}" />
                                <div class="text">NEXT</div>
                                <div class="mask">
                                    <span>NEXT</span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="content_container">
        <div class="wrapper">

            <!--left tab-->

            <div class="left-box">

                <div class="date_tabs_container">
                    <div class="column">
                        <div class="col-lg-12">
                            <div class="date_tabs">
                                <button id="dayBtn1" data-day ="day0" class="date_tab active">Day1</button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--map screen & schedules-->

            <div class="middle-box">
                <div id="map"><img src="/images/loading.svg"></div>
                <div class="toggle-nav">
                <span class="e">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>
                </div>
                <div class="nav-pane slide-out">
                    <div class="courses">
                        <div class="course box" data-cno="0">
                            
                        </div>
                       
                        <div class="course add-bar">
                            <div id="plus1"></div>
                            <div id="plus2"></div>
                        </div>
                        <div class="course delete-btn">
                             <div id="minus"></div>
                        </div>
                    </div>
                </div>
                <div class="info-pane slide-out">
						<div class="info-part">
							<div class="info-title"></div>
							<div class="info-img"></div>
						</div>
						<div class="spot_info_box blog">
								<div class="blog_list">
								</div>
								<div class="blog_source">Powered by Naver</div>
							</div>
                </div>
            </div>

            <!--sortable course & search tab-->

            <div class="right-box">
                <div class="material-ui tabs">
                    <div id="tab1" class="tab active">Day1</div>
                    <div id="tab2" class="tab">SEARCH</div>
                    <div class="slider"></div>
                </div>
                <div class="tab_content">
                    <div class="course-sort">
                    <ul id='day0' class='sortable dropthelist'>
                    </ul>
                    </div>
                    <div class="search-tab">
                       <div class="search-win">
                           <input id="tags" type="text" class="search-box"/>

                           <span class="search-button">
                            <span class="search-icon"></span>
                            <input type="hidden" id="search-id">
                            <ul class="search-list">
                               </ul>
                         </span>
                       </div>
                   </div>
                </div>
                <button class="poly-btn" id="poly-btn">폴리</button>
            </div>
        </div>
    </div>
    <!-- end container -->

</div>


<script src="/js/jquery-3.2.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/styles/bootstrap4/popper.js"></script>
<script src="/styles/bootstrap4/bootstrap.min.js"></script>
<script src="/plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="/plugins/easing/easing.js"></script>
<script src="/plugins/parallax-js-master/parallax.min.js"></script>
<script src="/js/maps_custom.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIdmqOHKEfF4mfn6EXtuLeeP2-h3yJr6A&callback=initMap"></script> -->

<script>
// Initialize Firebase
	var config = {
	  apiKey: "AIzaSyCgzLno3i5zPxKzaE5-9qXrt_FZWCwK8tE",
	  authDomain: "travel-simulator.firebaseapp.com",
	  databaseURL: "https://travel-simulator.firebaseio.com",
	  projectId: "travel-simulator",
	  storageBucket: "travel-simulator.appspot.com",
	  messagingSenderId: "105538800439"
	};
	firebase.initializeApp(config);
	var fixedkey;
	var lastDay;
	
	function getParameterByName(name, url) {
	    if (!url) url = window.location.href;
	    name = name.replace(/[\[\]]/g, "\\$&");
	    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
	        results = regex.exec(url);
	    return results[2];
	}
	
	fixedkey = getParameterByName("key");
	var title = "untitled";
	

	// title 파이어 베아스에서 가져와야됨
/* 	function readCourseName(key, callback){
		firebase.database().ref().child('courses/'+key).once("value").then(function(data){
			title = data.node_.children_.root_.key;
			callback(data.node_.children_.root_.key);
		})
	};
	readCourseName(fixedkey,function(key){
		
	})
	console.log("title = " + title) */
	
	var courseObject = {};
	courseObject['day0']= {};
	courseObject['day0']['jsons'] = [];
	courseObject['day0']['markers'] = [];
	courseObject['day0']['li'] = [];
	
	var recommendObject = {};
    
    recommendObject['site']= {};
    recommendObject['site']['jsons'] = [];
    recommendObject['site']['markers'] = [];
    recommendObject['site']['li'] = [];
    recommendObject['restaurant']= {};
    recommendObject['restaurant']['jsons'] = [];
    recommendObject['restaurant']['markers'] = [];
    recommendObject['restaurant']['li'] = [];
    recommendObject['hotel']= {};
    recommendObject['hotel']['jsons'] = [];
    recommendObject['hotel']['markers'] = [];
    recommendObject['hotel']['li'] = [];
	
	courseObject.findPoint = function (day, idx){
		
		var arrayIndex = courseObject.findIndex(day, idx);
		
		/* console.log("day: " + day + " idx: " + idx + "   arryIndex: " + arrayIndex); */
		
		return {
			json: courseObject["day"+ day]['jsons'][arrayIndex], 
			marker: courseObject["day"+day]['markers'][arrayIndex], 
			li: courseObject["day"+day]['li'][arrayIndex]   };
	};
	
	courseObject.findIndex = function(day, dataIdx){
		
		var dayLiObjects = courseObject['day' + day].li;
		
		var arrayIndex = -1;
		
	 	for(var i = 0; i < dayLiObjects.length; i++ ){
			
			//console.log(dayLiObjects[i]);
			//data-idx ='1'
			if(dayLiObjects[i].includes("data-idx ='"+dataIdx+"'")){
				arrayIndex = i;
				break; 
			}
		}
	 	return arrayIndex;
	}
	
	courseObject.remove = function(day,  dataIdx, same){
		
		var arrayIndex = courseObject.findIndex(day, dataIdx);
		
	 	courseObject['day' + day].jsons.splice(arrayIndex, 1);
	 	courseObject['day' + day].markers.splice(arrayIndex, 1);
	 	courseObject['day' + day].li.splice(arrayIndex, 1);
		
	}
	
	sortDayList();
	
    function initMap() {
    	
    }
    
    var courseTitle;
	
    function readCourse(key, title, callback){
        /* var courseTitle = 'untitled' */
        
        
        firebase.database().ref().child('courses/'+key).once("value").then(function(data){
            courseTitle = data.node_.children_.root_.key;
            title = courseTitle;
            $(".field").val(courseTitle)
            console.log($(".field"))
            firebase.database().ref().child('courses/'+key +'/'+ courseTitle).once("value").then(function(data){
                console.log('courses/' + key + '/' + courseTitle)
                lastDay = data.node_.children_.root_.key.substring(3) * 1;
                if(lastDay != 0){
                    for(var i = 0; i < lastDay + 1; i++){
                        $(".add-bar").trigger("click");
                    }
                }
                //console.log("★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★");
                var result = data.val();
                //console.log(result);
                
                callback(result)
            })
        })

    };
    	
    	/* firebase.database().ref().child('courses/'+key +'/'+ title +'/day0').once("value").then(function(data){
    		
    		var result = data.val();
    		 console.log(result.length)
    		callback(result);
    	}); */    	

    var map; 
    var sum = 0;
    var totalIndex = 0;
    var dayLength = 0;

    readCourse(fixedkey, title, function(data) {
    	console.log("***************"+title)
        console.log("callback.........................");
        console.log(data['day0'].length);
        dayLength = Object.keys(data).length;
        for(var i = 0; i < Object.keys(data).length; i++){
        	for(var j = 0; j < data['day' + i].length; j++){
        		 console.log("i : " + i + " j : " + j);
        		 
        		 courseObject['day' + i]['jsons'].push(data['day' + i][j]);
        		
        		var icon = {
                		url: '../images/marker.svg',
                		scaledSize : new google.maps.Size(45,47),
                		origin: new google.maps.Point(0,0),
                	    anchor: new google.maps.Point(22,46) 
                };
                
                var marker = new google.maps.Marker({
                        position : data['day' + i][j],
                        title : data['day' + i][j].title,
                        descs : data['day' + i][j].descs,
                        myPos : data['day' + i][j],
                        icon : icon
                        
                    });
                
                if( i === 0 && j === 0 ){
                	map = new google.maps.Map(document.getElementById('map'),{
                        center :{lat:data['day' + i][j].lat,  lng:data['day' + i][j].lng} ,
                        zoom: 11,
                        minZoom: 10,
                        mapTypeControl: false,
                        fullscreenControl: false,
                        zoomControl: true,
                        zoomControlOptions: {
                           position: google.maps.ControlPosition.TOP_RIGHT
                        },
                        streetViewControl: true,
                        streetViewControlOptions: {
                           position: google.maps.ControlPosition.TOP_RIGHT
                        }
                    });
                 }
                
                marker.setMap(map);
                toggleInfoWin(marker);
                courseObject['day' + i]['markers'].push(marker);
                
                var str = "<li data-idx ='" + j + "' data-day='" + i + "'><div class='ui-state-default'><div>"+ data['day' + i][j].title + "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";            
                courseObject['day' + i]['li'].push(str);
                
                
                marker.addListener('click', function(){
                	toggleInfoWin(marker);
                    console.log("courseObject marker clicked....")
                })
        	}
        	console.log("j : " + j)
        	sum = sum + courseObject['day' + i]['jsons'].length;
        }

        
        /* for (var i = 0; i < data.length; i++) {
            
            courseObject['day0']['jsons'].push(data[i]);
            
            var icon = {
            		url: '../images/marker.svg',
            		scaledSize : new google.maps.Size(45,47),
            		origin: new google.maps.Point(0,0),
            	    anchor: new google.maps.Point(22,46) 
            };
            
            var marker = new google.maps.Marker({
                    position : data[i],
                    title : data[i].title,
                    descs : data[i].descs,
                    myPos : data[i],
                    icon : icon
                    
                });
            
            if( i === 0 ){
            	map = new google.maps.Map(document.getElementById('map'),{
                    center :{lat:data[i].lat,  lng:data[i].lng} ,
                    zoom: 11,
                    minZoom: 10,
                    mapTypeControl: false,
                    fullscreenControl: false,
                    zoomControl: true,
                    zoomControlOptions: {
                       position: google.maps.ControlPosition.TOP_RIGHT
                    },
                    streetViewControl: true,
                    streetViewControlOptions: {
                       position: google.maps.ControlPosition.TOP_RIGHT
                    }
                });
             }
            
            marker.setMap(map);
            toggleInfoWin(marker);
            courseObject['day0']['markers'].push(marker);
            
            var str = "<li data-idx ='"+i+"' data-day='0'><div class='ui-state-default'><div>"+ data[i].title + "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";            
            courseObject['day0']['li'].push(str);
            
            
            marker.addListener('click', function(){
            	toggleInfoWin(marker);
                console.log("courseObject marker clicked....")
            })
        
        } */
        
        totalIndex = sum;
        var reTotalIndex = 0;
        
       /*  // 전체
        
       	$.getJSON("/map/recommendData", function(data){
       		for (var i = 0; i < data.length; i++) {
       			
                   recommendObject['recommend']['jsons'].push(data[i]);
       			
                   var icon = {
                   		url: '../images/catMarker.png',
                   		scaledSize : new google.maps.Size(35,30),
                   		origin: new google.maps.Point(0,0),
                   	    anchor: new google.maps.Point(25, 25) 
                   };
                   
                   
                   var marker = new google.maps.Marker({
                       position : data[i],
                       title : data[i].title,
                       descs : data[i].descs,
                       myPos : data[i],
                       icon : icon
                       
                   });
                   
                   recommendObject['recommend']['markers'].push(marker);
                   reTotalIndex = totalIndex + j;
                   var str = "<li data-idx ='"+reTotalIndex+"' data-day='0'><div class='ui-state-default'><div>"+ data[i].title + "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";            
                   recommendObject[recommendList[i]]['li'].push(str);
                   checkDupl(courseObject);
                   addMarkerEvent(marker);
                   toggleInfoWin(marker);                      
               };
               
               
               //추천 마커 그리기
               for (var i = 0; i < recommendObject['recommend']['markers'].length; i++) {
                   
                   recommendObject['recommend']['markers'][i].setMap(map);
                   
               }      		
       	}) */
       
        	//여행지 데이터
       	
       	$.getJSON("/map/siteData", function(data){
       		for (var i = 0; i < data.length; i++) {
       			console.log(data[i])
                   recommendObject['site']['jsons'].push(data[i]);
                   var icon = {
                   		url: '../images/site.png',
                   		scaledSize : new google.maps.Size(35,35),
                   		origin: new google.maps.Point(0,0),
                   	    anchor: new google.maps.Point(25, 25) 
                   };
                   
                   
                   var marker = new google.maps.Marker({
                       position : data[i],
                       title : data[i].title,
                       descs : data[i].descs,
                       myPos : data[i],
                       icon : icon
                       
                   });
                   
                   recommendObject['site']['markers'].push(marker);
                   reTotalIndex = totalIndex + i;
                   var str = "<li data-idx ='"+reTotalIndex+"' data-day='0' data-category='site'><div class='ui-state-default'><div>"+ data[i].title + "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";            
                   recommendObject['site']['li'].push(str);
                   checkDupl(courseObject, 'site');
                   addMarkerEvent(marker, 'site');
                   toggleInfoWin(marker);                      
               };
               
               for (var i = 0; i < recommendObject['site']['markers'].length; i++) {
                   console.log("site marker")
                   recommendObject['site']['markers'][i].setMap(map);
                   
               }

       	})
       	
       	//식당 데이터
       	
       	$.getJSON("/map/restaurantData", function(data){
       		
       		for (var i = 0; i < data.length; i++) {
       			console.log(data[i])
       			recommendObject['restaurant']['jsons'].push(data[i]);
       			
                   var icon = {
                   		url: '../images/restaurant.png',
                   		scaledSize : new google.maps.Size(35,35),
                   		origin: new google.maps.Point(0,0),
                   	    anchor: new google.maps.Point(25, 25) 
                   };
                   
                   
                   var marker = new google.maps.Marker({
                       position : data[i],
                       title : data[i].title,
                       descs : data[i].descs,
                       myPos : data[i],
                       icon : icon
                       
                   });
                   
                   recommendObject['restaurant']['markers'].push(marker);
                   reTotalIndex = totalIndex + i;
                   var str = "<li data-idx ='"+reTotalIndex+"' data-day='0' data-category='restaurant'><div class='ui-state-default'><div>"+ data[i].title + "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";            
                   recommendObject['restaurant']['li'].push(str);
                   checkDupl(courseObject, 'restaurant');
                   addMarkerEvent(marker, 'restaurant');
                   toggleInfoWin(marker);                      
               };
               for (var i = 0; i < recommendObject['restaurant']['markers'].length; i++) {
                   console.log("restaurant marker")
                   recommendObject['restaurant']['markers'][i].setMap(map);
                   
               }

       	})
       	
       	//호텔 데이터
       	
       	$.getJSON("/map/hotelData", function(data){
       		
       		for (var i = 0; i < data.length; i++) {
                   recommendObject['hotel']['jsons'].push(data[i]);
       			
                   var icon = {
                   		url: '../images/hotel.png',
                   		scaledSize : new google.maps.Size(35,35),
                   		origin: new google.maps.Point(0,0),
                   	    anchor: new google.maps.Point(25, 25) 
                   };
                   
                   var marker = new google.maps.Marker({
                       position : data[i],
                       title : data[i].title,
                       descs : data[i].descs,
                       myPos : data[i],
                       icon : icon
                   });
                   
                   recommendObject['hotel']['markers'].push(marker);
                   reTotalIndex = totalIndex + i;
                   var str = "<li data-idx ='"+reTotalIndex+"' data-day='0' data-category='hotel'><div class='ui-state-default'><div>"+ data[i].title + "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";            
                   recommendObject['hotel']['li'].push(str);
                   checkDupl(courseObject, 'hotel');
                   addMarkerEvent(marker, 'hotel');
                   toggleInfoWin(marker);                      
               };     
               for (var i = 0; i < recommendObject['hotel']['markers'].length; i++) {
                   console.log("hotel marker")
                   recommendObject['hotel']['markers'][i].setMap(map);
                   
               }
       	})
       	
       	
        
        
        
       /*  $.getJSON("/map/recommendData", function(data) {
            for (var i = 0; i < data.length; i++) {

                recommendObject.all['jsons'].push(data[i]);
                
                var icon = {
                		url: '../images/catMarker.png',
                		scaledSize : new google.maps.Size(35,30),
                		origin: new google.maps.Point(0,0),
                	    anchor: new google.maps.Point(25, 25) 
                };
                
                
                var marker = new google.maps.Marker({
                    position : data[i],
                    title : data[i].title,
                    descs : data[i].descs,
                    myPos : data[i],
                    icon : icon
                    
                });
                
                recommendObject['all']['markers'].push(marker);
                reTotalIndex = totalIndex + i
                var str = "<li data-idx ='"+reTotalIndex+"' data-day='0'><div class='ui-state-default'><div>"+ data[i].title + "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";            
                recommendObject['all']['li'].push(str);
                checkDupl(courseObject);
                addMarkerEvent(marker);
                toggleInfoWin(marker);                      
            };
            
            
            //추천 마커 그리기
            for (var i = 0; i < recommendObject['all']['markers'].length; i++) {
                
                recommendObject['all']['markers'][i].setMap(map);
                
            }

        }); */
        
        //console.log("1-------------------------------");
        //console.log(courseObject)
        drawPath(courseObject['day0'].markers);
        readyCourseDiv();
        
   });

	function readyCourseDiv() {
		
		
		
		console.log("readyCourseDiv");

		var str = "";
		$(".course-sort").each(function(idx, obj) {
			var targetJsons = courseObject['day' + [ idx ]]['jsons'];
			var str = "<ul id='day0' class='sortable dropthelist'>";

			for (var i = 0; i < targetJsons.length; i++) {
				str += "<li data-idx='"+i+"' data-day='"+idx+"'><div class='ui-state-default'><div>"
						+ targetJsons[i].title.cut(14, '...')
						+ "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";
			}
			str += "</ul>";

			obj.innerHTML = str;

		})

		$(".course.box").each(function(idx, obj) {

			var targetJsons = courseObject['day' + [ idx ]]['jsons'];

			var str = "<div class='date_detail'><h1>12월 21일 금요일</h1></div><ul id='day0' class='sortable droptrue'>";

			for (var i = 0; i < targetJsons.length; i++) {

				str += "<li data-idx='"+i+"' data-day='"+idx+"'><div class='ui-state-default'><div>"
						+ targetJsons[i].title.cut(14, '...')
						+ "</div><div class='delete-bar'><img src='/images/trash-alt-solid.svg'/></div></div></li>";
			}

			str += "</ul>";

			obj.innerHTML = str;
			sortDayList();

		})

	}

	$('.toggle-nav').on('click', function() {
		toggleNavigation($(this), $('.nav-pane'));
	});

	function toggleNavigation(btn, nav) {
		btn.toggleClass('open');
		nav.toggleClass('open');
	}

	function sortDayList() {
	       
	       var originUL;
	       var targetLi;
	       var targetUL;
	       var originListUL;
	       var targetListLi;
	       var targetListUL;
	       
	       $("ul.dropthelist").sortable({
	           start: function(event, ui){
	               originListUL = $("#" + event.target.id);
	               targetListLi = ui.item;
	            
	           },
	           update: function(event, ui){
	                
	                targetListUL = $(event.target);
	                console.log(targetListUL);
	                //console.log("targetUL is originUL" ,  targetUL.attr("id") == originUL.attr("id"));
	            
	                console.dir(originListUL[0].innerHTML);
	                console.log("this : " + event.target.innerHTML);
	                
	                originListUL[0].innerHTML = event.target.innerHTML;
	                refreshCourseObject(targetListUL, originListUL, targetListLi, targetListUL.attr("id") == originListUL.attr("id") );
	                    //drawSidebarList();
	                updateCourse(fixedkey, title);
	                    
	           }
	               
	       })
		$("ul.droptrue").sortable({
			connectWith : "ul",

			start : function(event, ui) {
				console.log("start");

				originUL = $("#" + event.target.id);
				targetLi = ui.item;

			},
			receive : function(event, ui) {
				//console.log("receive");

				targetUL = $("#" + event.target.id);

				//console.log("target.......................")
				//console.log(targetUL.html());
				//console.log("orgin........................")
				//console.log(originUL.html());

				refreshCourseObject(targetUL, originUL,
						targetLi);
				drawSidebarList(targetTripDay);

				targetLi.attr("data-day", targetUL.attr("id").substring(3));
				$(".course-sort ul li").attr("data-day",targetTripDay.substring(3));
				updateCourse(fixedkey, title);
			},
			update : function(event, ui) {

				//console.log("update............");

				targetUL = $("#" + event.target.id);

				//console.log("targetUL is originUL" ,  targetUL.attr("id") == originUL.attr("id"));

				if (targetUL.attr("id") == originUL.attr("id")) {

					refreshCourseObject(targetUL, originUL, targetLi, targetUL.attr("id") == originUL.attr("id"));
					drawSidebarList(targetTripDay);

					$(".course-sort ul li").attr("data-day",targetTripDay.substring(3));
				}
				updateCourse(fixedkey, title);
			}
		});
		$(".sortable").disableSelection();

	}

	function drawSidebarList() {
		console.log("drawSidebar.................")
		var str = "";
		for (var i = 0; i < courseObject[targetTripDay].li.length; i++) {

			str += courseObject[targetTripDay].li[i];
		}

		$(".course-sort ul").html(str);
	}

	function refreshCourseObject(targetUL, originUL, targetLi, same) {

		function findULPositionIdx() {

			var result = -1;

			targetUL.find("li").each(function(i, obj) {

				var idx = obj.getAttribute("data-idx");

				//console.log('==============================' + i);
				//console.log(idx +"::::::::::::::::::" + targetLi.attr("data-idx"));

				if (targetLi.attr("data-idx") == idx) {
					//console.log("if.................")
					result = i;
				}

			});
			return result;

		}

		var targetDay = courseObject[targetUL.attr("id")];
		//console.log(targetDay);

		var originDay = courseObject[originUL.attr("id")];
		//console.log(originDay);

		var targetPoint = courseObject.findPoint(targetLi.attr("data-day"),targetLi.attr("data-idx"));

		var targetToDataIndex = findULPositionIdx();
		console.log("targetToDataIndex: " + targetToDataIndex);

		var targetULId = targetUL.attr("id");

		console.log("targetULId : " + targetULId);


		courseObject.remove(targetLi.attr("data-day"), targetLi.attr("data-idx"), same);
		courseObject[targetULId].jsons.splice(targetToDataIndex, 0, targetPoint.json)
		courseObject[targetULId].markers.splice(targetToDataIndex, 0, targetPoint.marker)
		courseObject[targetULId].li.splice(targetToDataIndex, 0, targetPoint.li)

		drawPath(courseObject[targetTripDay].markers)

	}
	
	
	$(".add-bar").on("click", function(e) {

		var idx = $(".course.box").length;
		console.log("idx: " + idx);

		if(idx < 7){
			var addHtml = "<div class=\"course box\" data-cno='" + idx + "'><div class=\"date_detail\"><h1>12월 22일 토요일</h1>"
			+ "</div><ul id='day" + idx + "' class=\"sortable droptrue\"></ul ></div>"

			var btnHtml = "<button id='dayBtn" + (idx + 1)
					+ "' data-day='day" + idx
					+ "'  class=\"date_tab\">Day" + (idx + 1)
					+ "</button>";
		
			$(".date_tabs").append(btnHtml);
			$(this).before(addHtml);
		
			courseObject['day' + idx] = {};
			courseObject['day' + idx]['jsons'] = [];
			courseObject['day' + idx]['markers'] = [];
			courseObject['day' + idx]['li'] = [];
		
			sortDayList();
			/* updateCourse(fixedkey, title); */
		}else{
			e.preventDefault();
		}
	});

	var field = $('.field');

	field.blur(function() {
		var newTitle = $(this).val();
		title = newTitle;
		firebase.database().ref('/courses/' + fixedkey).set(title);
		updateCourse(fixedkey, title);
		field.css({
			"background-color" : "#1C63A2",
			"color" : "white"
		});
		field.toggleClass("blurred");
		field.on("click", function(e) {
			field.css({
				"background-color" : "white",
				"color" : "black"
			});
		});

	});

	var targetTripDay = "day0";

	$(".date_tabs").on("click", "button", function(e) {

		$(".date_tab").removeClass("active");
		$(e.target).addClass("active");

		targetTripDay = $(this).attr("data-day");
		var currentDay = $(this)[0].innerText;
		$("#tab1").html(currentDay);
		//console.log("targetDay: " + targetDay);
		$(".course-sort ul").attr("id", targetTripDay);

		console.log($(".course-sort ul").attr("id"));
		drawPath(courseObject[targetTripDay].markers);
		drawSidebarList(targetTripDay);
		$(".course-sort ul li").attr("data-day", targetTripDay.substring(3));
	});

	var poly = null;
	var mapExistMarkers = [];

	function drawPath(markerArr) {

		clearMap();

		poly = new google.maps.Polyline({ //선분 모양 설정
			strokeColor : '#1952AF',
			strokeOpacity : 1.0,
			strokeWeight : 2
		});

		mapExistMarkers = markerArr;

		for (var i = 0; i < markerArr.length; i++) {
			poly.getPath().push(markerArr[i].position);
			markerArr[i].setMap(map);

		}
		poly.setMap(map);
	}

	function clearMap() {

		for (var i = 0; i < mapExistMarkers.length; i++) {
			mapExistMarkers[i].setMap(null);
			console.log("clear marker");
		}

		if (poly) {

			poly.setMap(null);

		}
		mapExistMarkers = [];

	}

	selectTab();

	function selectTab() {
		$('.tab_content>div:not(":first-of-type")').hide();

		$('.tabs div').each(function(i) {
			$(this).attr('data-tab', 'tab' + i);
		});

		$('.tab_content>div').each(function(i) {
			$(this).attr('data-tab', 'tab' + i);
		});

		$('.tabs div').on('click', function() {
			var dataTab = $(this).data('tab');
			var getWrapper = $(this).closest('.right-box');
			getWrapper.find('.tabs div').removeClass('active');
			$(this).addClass('active');

			/* getWrapper.find('.line').width(0);
			line.animate({'width':'100%'}, 'fast'); */

			getWrapper.find('.tab_content>div').hide();
			getWrapper.find(
					'.tab_content>div[data-tab=' + dataTab + ']')
					.show();
		});

	}

	deleteContents();

	function deleteContents() {

		$('.delete-btn').on('click', function(e) {
			var idx = $(".course.box").length - 1;
			var deletedDiv = $('div[data-cno="' + idx + '"]');
			var deletedLi = $('div[data-cno="' + idx + '"] ul li');
			var deletedBtn = $('button[data-day="day' + idx + '"]');
			var deletedIdx = [];
			if(idx > 0){
				if ($('#dayBtn' + (idx + 1)).hasClass("active")) {
					$('.date_tab').removeClass("active");
					$('#dayBtn' + idx).addClass("active");
					drawSidebarList("day" + (idx - 1));
					$("#tab1").html('Day' + idx);
				}
				deletedDiv.remove();
				deletedBtn.remove();

				for (var i = 0; i < deletedLi.length; i++) {
					courseObject.remove(idx, deletedLi[i]
							.getAttribute("data-idx"));
				}

				updateCourse(fixedkey, title);
			}else{
				e.preventDefault();
			}
		});

		$(document).on("click", ".delete-bar", function(e) {
			var targetDay = $(this)[0].parentElement.parentElement.dataset.day;
			var targetIdx = $(this)[0].parentElement.parentElement.dataset.idx;
			var targetLi = $('.course #day' + targetDay
					+ ' li[data-idx="' + targetIdx + '"]');
			var targetListLi = $('.course-sort #day'
					+ targetDay + ' li[data-idx="' + targetIdx
					+ '"]');
			
			/* console.log("targetDay : " + targetDay)
			console.log("targetIdx : " + targetIdx)
			console.log(targetLi)
			console.log(targetListLi) */
			
			
			for (var i = 0; i < courseObject['day' + targetDay].markers.length; i++) {
				courseObject['day' + targetDay].markers[i]
						.setMap(null);
			}
			courseObject.remove(targetDay, targetIdx);

			targetLi.remove();
			targetListLi.remove();

			drawPath(courseObject['day' + targetDay].markers);
			updateCourse(fixedkey, title);
		});

	}

	var infoWin = $('.info-pane');
	var currentMarker;

	function toggleInfoWin(marker) {
		marker.addListener('click', function(e) {currentMarker == marker ? infoWin.toggleClass("open") : infoWin.addClass('open');
			currentMarker = marker;
			console.dir(marker.myPos.pno);
			$(".info-pane .info-title").html(marker.myPos.title)
			console.log(marker.myPos.img)
			$(".info-pane .info-img").html("<img src='" + marker.myPos.img + "' width='300' onerror='this.src=\"../images/errorImage.png\"'>" )
			$.ajax({
				type : 'get',
				url : '/pointboard/readBlog',
				data : {title : marker.myPos.title},
				success : function(obj) {

				var str = "";
				str += "<ul>";
					for (var i = 0; i < 2; i++) {
					str += "<a href='"+obj[i].link+"'class='blog_content' target='_blank'>"
						+ "<div class='blog_title'>"
						+ obj[i].title + "</div>"
						+ obj[i].description + "<div class='blog_postdate'>"
						+ obj[i].postdate + "</div>" + "</a>";
					};
				str += "</ul>";
				$(".blog_list").html(str);
				}
			});
		});
	}

	function updateCourse(key, title, callback) {
		var newCourse = [];
		/* firebase.database().ref('courses/' + key).set(title); */
		for (var i = 0; i < $(".course.box").length; i++) {
			newCourse = courseObject['day' + i].jsons;
			firebase.database()
					.ref('courses/' + key + '/' + title + '/day' + i).set(
							newCourse);
			/* console.log("====================================================")
			console.log('path : courses/' + key + '/' + title + '/day' + i);
			console.log(newCourse);
			console.log("====================================================") */
		}
	}

	$("#map").on("mousedown",function(e) {
				infoWin.hasClass("open") ? infoWin.removeClass("open") : e.preventDefault();
				console.log("middle-box mousedown")
			});

	$(".courses").on("click",function(e) {
				var length = $(".course.box").length;
				e.offsetX > (217 * length) && e.offsetY > 160 ? $(".nav-pane").removeClass("open") : e.preventDefault();
			});

	toggleSearchWin();

	function toggleSearchWin() {
		$('.search-button').on('click', function() {
			$(this).parent().toggleClass('open');
		});
	}

	function display(data) {
		$("#tags").autocomplete({
			source : data,
			focus : function(event, ui) {
				return false;
			},
			select : function(event, ui) {
				console.log(ui.item);
				$("#tags").val(ui.item.value);
			}
			
		});
	}

	searchService.autoComplete(function(result) {
		display(result);
	});
	
	
	function addMarkerEvent(marker, dataName){
	       
       google.maps.event.addListener(marker, "click", function(e) {
    	   var dupl = false;
    	   var clickedIdx = recommendObject[dataName]['markers'].findIndex(x => x === marker);
           console.log("clickedIdx : " + clickedIdx);
           console.log("targetTripDay : " + targetTripDay);
    	   for(var i = 0; i < courseObject[targetTripDay].markers.length; i++){
            	if(courseObject[targetTripDay].markers[i] == marker){
            		dupl = true;
            		return;
            	}
           }
           if(!dupl){
        	   /* console.log("★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★")
        	   console.log("TargetTripDay : " + targetTripDay) */
        	   originLi = recommendObject[dataName]['li'][clickedIdx];
        	   changedLi = originLi.replace("'0'", "'" + targetTripDay.substring(3) + "'")
        	   var category = $(originLi).data("category");
        	   console.log(category)
        	   courseObject[targetTripDay]['markers'].push(marker);
               courseObject[targetTripDay]['li'].push(changedLi);
               courseObject[targetTripDay]['jsons'].push(recommendObject[dataName]['jsons'][clickedIdx]);
      
               drawPath(courseObject[targetTripDay].markers);
               drawSidebarList();
               
               console.log("recommendObject marker clicked....")
               var str = "";
               for(var i = 0; i < courseObject[targetTripDay].li.length; i++){
                   
                   str += courseObject[targetTripDay].li[i];
               }
               
               $("ul#" + targetTripDay).html(str);
               updateCourse(fixedkey, title)
            }else{
            	e.preventDefault();
            }
       });
	}
	
	function checkDupl(courseObject, dataName) {
        
        var markers = courseObject['day0'].markers;
        var reMarkers = recommendObject[dataName].markers;
        var result = reMarkers.filter(m => {
            
            var check = true;
            
            for(var i = 0; i < markers.length; i++){
                
                if( parseInt(markers[i].myPos.pno) == parseInt(m.myPos.pno)){
                    
                    
                    var clickedIdx = reMarkers.findIndex(x => x === m);
                    
                    if (clickedIdx != -1) {
                        recommendObject[dataName]['li'].splice(clickedIdx, 1);
                        recommendObject[dataName]['jsons'].splice(clickedIdx, 1);
                        //console.log(recommendObject['day0']['li']);
                    }
                    check = false;
                }
            }
            //console.log(reMarkers.indexOf(rePno[0]))
            return check;
        })    
        
        recommendObject[dataName].markers = result;
        
     }
	
	var polyBtn = $("#poly-btn");
	
	polyBtn.on("click", function(e){
		polyBtn.toggleClass("path");
		polyBtn.hasClass("path") ? polyBtn.html("경로") : polyBtn.html("폴리") ;
	});
	


	
	var nextForm = $("#next");
	
	nextForm.on("click", function(e){
		e.preventDefault();
		console.log('next')
		console.log(courseObject)
		console.log(title)
		console.log(dayLength);
		var titleValue = $("#title")[0].value;
		var str = '';
		str += "<input type='hidden' name='coursekey' value='"+fixedkey+"'>";
 		str += "<input type='hidden' name='coursename' value='"+titleValue+"'>";
 		str += "<input type='hidden' name='coursetitle' value='"+titleValue+"'>"
 		str += "<input type='hidden' name='coursecontent' value=''>"
		str += "<input type='hidden' name='courseimg' value='"+courseObject['day0']['markers'][0].myPos.img+"'>";  
		str += "<input type='hidden' name='days' value='"+dayLength+"'>"
		
 		nextForm.append(str);
 		nextForm.attr("method","post").attr("action","/map").submit();  
	});
	
	$("input[type='checkbox']").on("click", function(){
        
        var categoryArr = ['site', 'restaurant', 'hotel'];
        var changedCategoryArr = [];
        
        
        var checkedCat = $('input:checkbox[name="category"]:checked');
        //console.log(checkedCat)
        for(var i = 0; i < checkedCat.length; i++){
            changedCategoryArr.push(checkedCat[i].id);
        }
        //console.log(changedCategoryArr)
        clearMap();
        for(var i = 0; i < categoryArr.length; i++){
            for(var j = 0; j < recommendObject[categoryArr[i]].markers.length; j++){
                recommendObject[categoryArr[i]].markers[j].setMap(null);
            }
            changedCategoryArr.forEach(category => {for(var j = 0; j < recommendObject[category].markers.length; j++){
                recommendObject[category].markers[j].setMap(map)}
            })
        }
        drawPath(courseObject[targetTripDay].markers)
    })
    console.log("addCount : " + addCount)
	
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIdmqOHKEfF4mfn6EXtuLeeP2-h3yJr6A&callback=initMap"></script>
</body>
</html>