<!DOCTYPE html>

<html>
	<head>
	
		<meta charset="UTF-8" />
		<link rel="shortcut icon" href="../favicon.ico"> 
		<link rel="stylesheet" type="text/css" href="styles/simple_styles2.css">
		<link rel="stylesheet" type="text/css" href="css/default.css" />
		<link rel="stylesheet" type="text/css" href="css/component.css" />
		<link rel="stylesheet" href="plugins/fontawesome-5.6.1/css/all.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link  rel="stylesheet" type="text/css" href="libs/menucool/js-image-slider.css"/>
	</head>
	<body>
	
	<a class="glitch-btn" href="/boards/list" target="_self">
		  <div class="text">NEXT</div>
		  <div class="mask">
		    <span>NEXT</span>
		  </div>
	 </a>

<style>
.tile {
 padding: 3px;
}

.tile img {
border: 1px solid green;
 border-radius: 10px;
}

.selected  {

border: 5px solid green;

}

</style>
	
	<div class="container">	
		<h1>THEME1</h1>		
			<div class="row">
			<button id="prevBtn"><i class="fas fa-angle-left fa-5x"></i></button>
			<button id="nextBtn"><i class="fas fa-angle-right fa-5x"></i></button>
			    <div class="row__inner">    	
			    	<ul id="og-grid" >
						<li  class="tile" th:each="List, iterState : ${List}" th:id="thumb + ${List.pno}" th:data-pno="${List.pno}"
						th:data-lat="${List.lat}" th:data-lng="${List.lng}" th:data-keyword="${List.keyword}" th:data-img="${List.img}"
						th:data-List="${List}" th:data-title="${List.title}" th:data-descs="${List.descs}">

							<div class="tile__media">
					          <img class="tile__img" th:src="${List.img}"/>
					        </div>
					        <div class="tile__details toggle" th:data-pno="${List.pno}"
						th:data-lat="${List.lat}" th:data-lng="${List.lng}" th:data-keyword="${List.keyword}" th:data-img="${List.img}"
						th:data-List="${List}" th:data-title="${List.title}" th:data-descs="${List.descs}">
					        	<input type="hidden" name="pno" th:value="${List.pno}">
					            <input type="hidden" name="lat" th:value="${List.lat}">
					            <input type="hidden" name="lng" th:value="${List.lng}">
					            <input type="hidden" name="keyword" th:value="${List.keyword}">
					            <input type="hidden" name="img" th:value="${List.img}">
					            <input type="hidden" name="list" th:value="${List}">					            
					            <div class="tile__title" th:text="${List.title}"></div>
					     	</div>
						</li>
					</ul>
 				</div>
			</div>
				
	            <div id="sliderFrame" class="expander">
	             	<div id="checkBoxContainer"></div>
			        <div id="slider">
			       
			        </div>
			    </div>
			
			<style>
			.testDiv  {
			  width:100px;
			  display:none;
			}
			
			.detail {
			width:100px;
			display:none;
			}
			
			</style>
			<div id='testDiv'>
			</div>
					            	
		</div>
		<!-- /container -->

		<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
		<script src="js/modernizr.custom.js"></script>
		<script src="libs/menucool/js-image-slider.js" type="text/javascript"/>
		<script src="js/grid.js"></script>
		<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
		<script>
		// Initialize Firebase
		var config = {
		  apiKey: "AIzaSyCgzLno3i5zPxKzaE5-9qXrt_FZWCwK8tE",
		  authDomain: "travel-simulator.firebaseapp.com",
		  databaseURL: "https://travel-simulator.firebaseio.com",
		  projectId: "travel-simulator",
		  storageBucket: "travel-simulator.appspot.com",
		  messagingSenderId: "105538800439"
		};
		firebase.initializeApp(config);
		</script>
		
		<script>
		var lat,lng,title,descs,keyword,img;
		var testList = [0];
		var newKey;
		var current = -1;
		
		$(document).ready(function() {
	        CourseInit(testList, function(newKey){
	            console.log(newKey);
	            testList = [];
	        });
	        courseService.add(
	        		{coursekey:newKey}
	        		,
	        		function(result){
	        			console.log(result);
	        		}
	        	);
		}); 
		
		//unique ID 전송
		var courseService = (function(){
			
			function add(course, callback, error){
				console.log("add course key");
				
				$.ajax({
					type : 'post',
					url : '/course/new',
					data : JSON.stringify(course),
					contentType : "application/json; charset=utf-8",
					success : function(result, status, xhr){
						if (callback){
							callback(result);
						}
					},
					error : function(xhr, status, er){
						if(error){
							error(er);
						}
					}
				})
			}
			return{
				add : add
			};
		})();
		
		
		var count = 0; 
		var images = [];

		$("#sliderFrame").hide();
		
		var checkPnoList = [];
		var currentPno = null;
		var checkPno = 0;
		
		$('.toggle').click(function (e) {
			
			e.preventDefault();
			
			var id = "#" + $(this)[0].firstElementChild.defaultValue;
			var pno =  $(this)[0].firstElementChild.defaultValue;
			
			currentPno = pno;

			$.getJSON('/searchTest?pno='+pno,function(data){
				images = [];
				var html = "";
				var testHTML = "";
				
				$.each(data.imgList, function(index, value){
					
					images.push(decodeURI(value.iname));
	
					html += "<img class=\'detail\' src=\"/img?name="+decodeURI(value.iname)+"\"/>";
					testHTML += "<img class=\'detail\' src=\"/img?name="+decodeURI(value.iname)+"\"/>";
					
				})//end each				
				$("#slider").html(html);
				$("#testDiv").html(testHTML);

				imageSlider.reload();
			}); 
			//var targetCheck = $("div[data-index='"+currentPno+"']");
			
			//$(".checkbox").attr("data-index")
			


			var sliderCheck = "";
		/* 	if(targetCheck){
				sliderCheck += "<div class="+"'checkbox check is-checked'"+"data-index='"+currentPno+"'></div>";
				$("#checkBoxContainer").html(sliderCheck);
			}else{
				sliderCheck += "<div class="+"'checkbox check'"+"data-index='"+currentPno+"'></div>";
				$("#checkBoxContainer").html(sliderCheck);
			} */
			sliderCheck += "<div class="+"'checkbox check'"+"data-index='"+currentPno+"'></div>";
			$("#checkBoxContainer").html(sliderCheck);
			
			console.log("--------------")
			console.log(currentPno);
			console.log(checkPnoList);
			var dataIndex = checkPnoList.indexOf(currentPno);
			console.log(dataIndex);
			
			
/* 			if(checkPnoList.indexOf(currentPno)!=-1){
				
				$(".checkbox").addClass('is-checked');
				return;
				} */
			

		
			if(current != currentPno){
				$(".expander").hide();
				
				current != -1? $(".expander").show() : $(".expander").slideDown();
				current = currentPno;
				return;
			}else{
				$(".expander").slideUp();
				current = -1;
			}
			
			
			
		});
		
		$("#slider").on("click", "div", function(e){

			var targetLi = $("li[data-pno='"+currentPno+"']");
			var targetCheck = $("div[data-index='"+currentPno+"']");
			var point = new Object() ;
			
		    point.pno = targetLi.data("pno");
		    point.lat = targetLi.data("lat");
		    point.lng = targetLi.data("lng");
		    point.title = targetLi.data("title");
		    point.keyword = targetLi.data("keyword");
		    point.img = targetLi.data("img");
			targetLi.toggleClass("selected");
			targetCheck.toggleClass('is-checked');
			
			checkDupl(point);
			updateCourse("-LUj9dwD2-Gy6G-PxXHX", testList);			
			
			for (var i = 1; i < testList.length; i++) {
				
				checkPnoList.push(testList[i].pno);
				
			}
			
			console.log(testList)
			
		});

		
		$('.checkbox').click(function(){
		
 			var targetLi = $("li[data-pno='"+currentPno+"']");
 			
 			console.log(currentPno);
 			
			targetLi.addClass("selected");
			
			checkPnoList.push(currentPno);

			checkSelected(currentPno);
			
			//$(this).toggleClass('is-checked');

			var pno = $(this).data("pno");
			var html = $("#thumb" + pno).html();

		    point.pno = $(this).data("pno");
		    point.lat = $(this).data("lat");
		    point.lng = $(this).data("lng");
		    point.title = $(this).data("title");
		    //point.descs = $(this).data("descs");
		    point.keyword = $(this).data("keyword");
		    point.img = $(this).data("img");
		    
		});
		
		
	    function checkDupl(param) {
		     	
	     	var beforeSize = testList.length;

	     	var result  = testList.filter(x => parseInt(x.pno) != parseInt(param.pno)) ;
	     	
	     	var afterSize = result.length;
	     	
	     	if (beforeSize == afterSize) {
	     		testList = result.concat(param)
	     	}else{
	     		testList = result;
	     	}
	     	

	     

		 } 
		     
	    function updateCourse(key, newCourse, callback){
	    	
	        firebase.database().ref('courses/' + key + '/day1').set(newCourse);
	        
	    }
		
		$("#prevBtn").click(function(){
			event.preventDefault();
			  $('.row').animate({
			    scrollLeft: "-=1000px"
			  });
		});
		$("#nextBtn").click(function(){
			event.preventDefault();
			  $('.row').animate({
			    scrollLeft: "+=1000px"
			  });
		});
		
	    function CourseInit(day1, callback){
	        
	        newKey = firebase.database().ref('courses').push({day1}).key;
	       
	        
	        callback(newKey);
	        
	    }
	    
		</script>		

	</body>
</html>