<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<th:block layout:fragment="style">
<link rel="stylesheet" type="text/css" href="/styles/register_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/contact_responsive.css">
</th:block>
	
<div layout:fragment="content">

		<!-- Home -->


	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll"
			data-image-src="../images/contact_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">contact</div>
		</div>
	</div>



	<!-- Contact -->

	<div class="contact_form_section">
	
	
	
		<div class="container">
			<div class="row">
				<div class="col">

					<!-- Contact Form -->
					<div class="contact_form_container">
						<div class="contact_title text-center">수 정</div>
						<form th:action="@{/pointboard/modify}" method="post" id="contact_form" class="contact_form text-center">
							<input type="text" name="title" class="contact_form_name input_field" placeholder="Title"  th:value="*{detail.title}" required="required" data-error="Name is required.">
							<input type="text" name="lat" class="contact_form_name input_field" placeholder="Lat"  th:value="*{detail.lat}" required="required" data-error="Email is required.">
							<input type="text" name="lng" class="contact_form_email input_field" placeholder="Lng"  th:value="*{detail.lng}" required="required" data-error="Subject is required.">
							<input type="text" name="category" class="contact_form_subject input_field" placeholder="Category"  th:value="*{detail.category}"  data-error="Subject is required.">
							<input type="text" name="keyword" class="contact_form_subject input_field" placeholder="Keyword"  th:value="*{detail.keyword}" required="required" data-error="Subject is required.">
							<input type="text" name="img" class="contact_form_subject input_field" placeholder="Image"  th:value="*{detail.img}" required="required" data-error="Subject is required.">
							<input type="hidden" name="pno" th:value='*{detail.pno}'/>
							
							<button type="submit" id="form_submit_button" class="form_submit_button button trans_200">수정하기<span></span><span></span><span></span></button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

	<!-- About -->
	<div class="about">
		<div class="container">
			<div class="row">
				<div class="col-lg-5">
				</div>
			</div>
		</div>
	</div>
</div>
<th:block layout:fragment="script">
</th:block>

</html>