<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/layout1}">

<th:block layout:fragment="style">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../plugins/jqcloud2/dist/jqcloud.min.js"></script>
    <link rel="stylesheet" href="../plugins/jqcloud2/dist/jqcloud.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/read_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/read_responsive.css">
    <link rel="stylesheet" type="text/css" href="../styles/spot_info.css">
	<!-- csrf -->
	<meta name="_csrf_token" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</th:block>

<div layout:fragment="content">

    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../images/about_background.jpg"></div>
        <div class="home_content">
            <div class="home_title" th:text="${detail.title}"></div>
        </div>
    </div>

    <!-- Offers -->

    <div class="offers">

        <!-- Search -->

        <div class="search">
            <div class="search_inner">

                <!-- Search Contents -->

                <div class="container fill_height no-padding">
                    <div class="row fill_height no-margin">
                        <div class="col fill_height no-padding">


                            <div class="date_tabs_container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="date_tabs">

                                            <button class="date_tab" th:data-lat="${detail.lat}" th:data-lng="${detail.lng}">[[${detail.lat}]]</button>

                                            <button class="date_tab">[[${detail.lng}]]</button>
                                        </div>
                                    </div>
                                </div>
                                <div id="map" class="map"></div>
                            </div>

                            <div class="search_tabs_container">
<!-- 								<form action="/courseboard/list"
									class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
									<img src="../images/suitcase.png" alt="">코스게시판
								</form>
								<form action="/freeboard/list"
									class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
									<img src="../images/bus.png" alt="">자유게시판
								</form>
								<form action="/question/list"
									class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
									<img src="../images/departure.png" alt="">질문게시판
								</form>
								<form action="/tip/list"
									class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
									<img src="../images/island.png" alt="">정보공유게시판
								</form>
								<form action="/review/list"
									class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
									<img src="../images/cruise.png" alt="">여행후기게시판
								</form> -->
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Offers -->

        <div class="container">
            <div class="row">
                <div class="col-lg-1 temp_col"></div>
                <div class="col-lg-11">
                    <div class="tab">
						<button class="tablinks" id="courseboard">코스게시판</button>
						<button class="tablinks active" id="pointboard">장소게시판</button>
						<button class="tablinks" id="freeboard">자유게시판</button>
						<button class="tablinks" id="tipboard">정보공유게시판</button>
						<button class="tablinks" id="reviewboard">여행후기게시판</button>
                    </div>
                    <div id="COURSE" class="col-lg-12 tabcontent" style="display: block;">
                        <!-- Offers Grid -->

                        <!-- Offers Item -->

                        <div class="offers_item rating_4" id="코스게시판">
                            <div class="row">
                                <div class="col-lg-1 temp_col"></div>

                                <div class="col-lg-11">
                                    <div class="offers_content">
                                        <div class="offers_price" th:text="${detail.title}"><span th:text="${#dates.format(detail.regdate, 'yyyy-MM-dd HH:mm')}"></span></div>

                                        <!-- Milestones -->

                                        <div class="milestones">
                                            <div class="container">
                                                <div class="row">

                                                    <!-- Milestone -->
                                                    <div class="col-lg-3 milestone_col">
                                                        <div class="milestone text-center">
                                                            <div class="milestone_icon"><img src="../images/milestone_1.png"
                                                                    alt=""></div>
                                                            <div class="milestone_counter" th:data-end-value="${detail.good}">0</div>
                                                            <div class="milestone_text">좋아요</div>
                                                        </div>
                                                    </div>

                                                    <!-- Milestone -->
                                                    <div class="col-lg-3 milestone_col">
                                                        <div class="milestone text-center">
                                                            <div class="milestone_icon"><img src="../images/milestone_2.png"
                                                                    alt=""></div>
                                                            <div class="milestone_counter" th:data-end-value="${detail.bad}">0</div>
                                                            <div class="milestone_text" style="bottom: 10px">별로였어요</div>
                                                        </div>
                                                    </div>

                                                    <!-- Milestone -->
                                                    <div class="col-lg-3 milestone_col">
                                                        <div class="milestone text-center">
                                                            <div class="milestone_icon"><img src="../images/milestone_3.png"
                                                                    alt=""></div>
                                                            <div class="milestone_counter" data-end-value="39">0</div>
                                                            <div class="milestone_text">조회수</div>
                                                        </div>
                                                    </div>

                                                    <!-- Milestone -->
                                                    <div class="col-lg-3 milestone_col">
                                                        <div class="milestone text-center">
                                                            <div class="milestone_icon"><img src="../images/milestone_4.png"
                                                                    alt=""></div>
                                                            <div class="milestone_counter" data-end-value="127">0</div>
                                                            <div class="milestone_text">이 장소로 떠난 배낭들</div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                        <div id="demo" th:data-keyword="${detail.keyword}"></div>

                                        <div class="read_descs">

                                            <p class="offers_text" th:text="${detail.descs}"></p>

                                        </div>

                                        <div class="offer_reviews">
                                            <div class="footer_content footer_tags">
	                                            <div class="tag_item" sec:authorize="hasRole('ROLE_MEMBER')" >
	                                                <button class="modify">수정</button>
	                                            </div>
	                                            <div class="tag_item" sec:authorize="hasRole('ROLE_MEMBER')" >
	                                                <button class="delete">삭제</button>
	                                            </div>
	                                            <div class="tag_item">
	                                                <button class="list">목록으로</button>
	                                            </div>
                                            </div>
                                        </div>
										
										<div class="spot_info_box community">
											<div class="clear"></div>
											<div class="write_area">
												<div class="write_review">
													<div class="write_title r">댓글쓰기
														<!-- <input type="text" id="pointreplyer" class="check_in search_input" placeholder="작성자를 입력하세요."> -->
													</div>
													<div class="review_box">
														<div class="write_left">
														</div>
														<div class="write_center">
															<input id="pointreply" class="review_area" placeholder="댓글을 작성하세요.">
														</div>
														<div class="write_right">
															<div class="btn_review_write" id="si_review_form_submit"
																data="new">등록</div>
														</div>
														<div class="clear"></div>
													</div>
												</div>
											</div>

											<div class="cmmt_tab_content review">
<!-- 													<div class="cmmt_content_box" >
														<div class="cmmt_c_user">
															<div class="cmmt_c_user_txt">
																<div class="cmmt_c_user_name" > 작성자
																 <span> &nbsp;&nbsp;등록시간 </span>
																</div>
																<div class="cmmt_c_user_level">

																	<div class="rv_cnt">좋아요 싫어요</div>
																	<div class="clear"></div>
																</div>
															</div>
															<div class="clear"></div>
														</div>
														<div class="cmmt_content">방콕 투어 중 가장 잼있게 놀았어요 방콕 투어
															중 가장 잼있게 놀았어요방콕 투어 중 가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게 방콕 투어 중
															가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게 놀았어요방콕 투어 중 가장 잼있게 놀았어요 방콕 투어
															중 가장 잼있게 투어 중 가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게 놀았어요 방콕 투투어 중 가장
															잼있게 놀았어요 방콕 투어 중 가장 잼있게 놀투어 중 가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게
															놀았어요.</div>
													</div> -->
												
											</div>
										</div> <!-- end comunity -->
										
										<!-- Modal -->
										<div id="myModal" class="modal fade" role="dialog">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														
														<h4 class="modal-title">Modal Header</h4>
														<button type="button" class="close" data-dismiss="modal">&times;</button>
													</div>
													<div class="modal-body">
													<label>Reply Text</label>
													<input type="text" class="form-control" name="replyText">
													<label>Replyer</label>
													<input type="text" class="form-control" name="replyer">
													</div>
													<div class="modal-footer">
														<button id='delModalBtn' class="btn btn-danger">삭제</button>
														<button id='modalBtn' class="btn btn-info">등록</button>
													</div>
												</div>
											</div>
										</div> <!-- end modal -->
										
										<!-- blog -->
										<div class="title_big blog">블로그</div>
										<input type='hidden' id='pointTitle'
												th:value="${detail.title}">
										<div class="spot_info_box blog2">
											<div class="blog_list">
												<!-- <a href="#" class="blog_content" target="_blank">
												<div class="blog_title">
													3박 5일 싱가폴 여행(2) : 차이나타운 야쿤카야토스트 본점...
												</div>
												3박 5일 싱가폴여행(2) : 차이나타운 야쿤가야토스트 본점 / 미양원 망고빙수 20140905~20140909
											</a> -->
											</div>
											<div class="blog_source">Powered by Naver</div>
										</div> <!-- end blog -->
										
                                    </div> <!-- end offers_content -->
                                </div>
                            </div>
                        </div>
                        <div id="TENDENCY" class="tabcontent">
                            <div class="offers_sorting_container">

                                <ul class="offers_sorting">
                                    <li>
                                        <span class="sorting_text">price</span>
                                        <i class="fa fa-chevron-down"></i>
                                        <ul>
                                            <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }'
                                                data-parent=".price_sorting"><span>show all</span></li>
                                            <li class="sort_btn" data-isotope-option='{ "sortBy": "price" }'
                                                data-parent=".price_sorting"><span>ascending</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="sorting_text">location</span>
                                        <i class="fa fa-chevron-down"></i>
                                        <ul>
                                            <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>default</span>
                                            </li>
                                            <li class="sort_btn" data-isotope-option='{ "sortBy": "name" }'>
                                                <span>alphabetical</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="sorting_text">stars</span>
                                        <i class="fa fa-chevron-down"></i>
                                        <ul>
                                            <li class="filter_btn" data-filter="*"><span>show all</span></li>
                                            <li class="sort_btn" data-isotope-option='{ "sortBy": "stars" }'>
                                                <span>ascending</span></li>
                                            <li class="filter_btn" data-filter=".rating_3"><span>3</span></li>
                                            <li class="filter_btn" data-filter=".rating_4"><span>4</span></li>
                                            <li class="filter_btn" data-filter=".rating_5"><span>5</span></li>
                                        </ul>
                                    </li>
                                    <li class="distance_item">
                                        <span class="sorting_text">distance from center</span>
                                        <i class="fa fa-chevron-down"></i>
                                        <ul>
                                            <li class="num_sorting_btn"><span>distance</span></li>
                                            <li class="num_sorting_btn"><span>distance</span></li>
                                            <li class="num_sorting_btn"><span>distance</span></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <span class="sorting_text">reviews</span>
                                        <i class="fa fa-chevron-down"></i>
                                        <ul>
                                            <li class="num_sorting_btn"><span>review</span></li>
                                            <li class="num_sorting_btn"><span>review</span></li>
                                            <li class="num_sorting_btn"><span>review</span></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
	</div>
    <form id="actionForm">
    	<input sec:authorize="hasRole('ROLE_MEMBER')" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name='page' th:value="${pageObj.page}">
		<input type="hidden" name='display' th:value="${pageObj.display}">
		<input type="hidden" name='category' th:value="${pageObj.category}">
		<input type="hidden" name='type' th:value="${pageObj.type}">
		<input type="hidden" name='keyword' th:value="${pageObj.keyword}">
	</form>
	
	<form id="tabForm">
	</form>
	
	<!-- <form th:action="${'/login/customLogin'}">
	</form> -->
</div>

   	
    



<th:block layout:fragment="script">

    <script src="../plugins/greensock/TweenMax.min.js"></script>
    <script src="../plugins/greensock/TimelineMax.min.js"></script>
    <script src="../plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../plugins/greensock/animation.gsap.min.js"></script>
    <script src="../plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="../js/read_custom.js"></script>
    <script src="../js/reply.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIdmqOHKEfF4mfn6EXtuLeeP2-h3yJr6A&callback=initMap"
        async defer></script>
        
	<script th:inline="javascript">
	
		$(document).ready(function(e){
				
			(function(){
				replyManager.getAll([[${detail.pno}]], printList);
			})();
			
			
			var pointTitle = $("#pointTitle").val();
			
			function get_blog(){
				$.ajax({
					type:'get',
					url:'/pointboard/readBlog',
					data:{title:pointTitle},
					success:function(obj){
						
						var str = "";
						str += "<ul>";
						for(var i = 0; i < obj.length; i++){
							str += "<a href='"+obj[i].link+"'class='blog_content' target='_blank'>"+
							"<div class='blog_title'>"+
							obj[i].title+
							"</div>"+
							obj[i].description+
							"<div class='blog_postdate'>"+
							obj[i].postdate+
							"</div>"+
							"</a>";
						};
						str += "</ul>";
						$(".blog_list").html(str);
						
					}
				});
			}; 
			get_blog();
	
			function printList(list){
				var str = "";
				var replyObj;
				for(var i=0;i<list.length;i++){
					replyObj = list[i];
					
					str += "<div class='cmmt_content_box' >"+
					 "<div class='cmmt_c_user'>"+
					"<div class='cmmt_c_user_txt'>"+
					"<div class='cmmt_c_user_name'>"+replyObj.pointreplyer+
					"</div><span class='regdateSpan'>"+formatDate(replyObj.regdate)+"</span>"+
					"<div class='cmmt_c_user_level'>"+
					/* "<div class='rv_cnt'>좋아요: "+replyObj.good+" 싫어요: "+replyObj.bad+"</div>"+ */
					"<div class='clear'></div>"+
					"</div>"+
					"</div>"+
					"<div class='clear'></div>"+
					"</div>"+
					"<div class='review_opbtn'>";            // 고쳐야됨
					if (usermail ==replyObj.pointreplyer){
						str += "<div class='rv_op_btn rop_delete' data-srl='"+replyObj.rno+"'>삭제</div>"+
						"<div class='rv_op_btn line rop_edit' data-srl='"+replyObj.rno+"'>수정</div>";
					}
					str +="</div>"+
					"<div class='cmmt_content'>"+replyObj.pointreply+"</div>"+
					"</div>";
	
			/* 		str += "<tr>"+
					"<th>"+ replyObj.rno+" </th>"+
					"<th>"+ replyObj.pointreply+" </th>"+
					"<th>"+ replyObj.pointreplyer+" </th>"+
					"<th>"+ formatDate(replyObj.regdate)+" </th>"+
					"</tr>"; */
				}
				$(".review").html(str);
			}
	
			function formatDate(timeValue){
				var date = new Date(timeValue);
				return date.getFullYear()
					+ "-" + (date.getMonth()+1 >= 10?date.getMonth()+1:'0'+(date.getMonth()+1))
					+ "-" + date.getDate()
			}
			
			var mode = 'ADD';
			
			var pno = [[${detail.pno}]];
			
			var pointreplyObj = $("#pointreply");
			var pointreplyerObj = $("#pointreplyer");
			
			var pointreply;
			var pointreplyer;
			
			// security로 사용자 로그인한지 확인 안했으면 Guest 했으면 usermail
			var usermail = [[${#authentication.principal} eq 'anonymousUser' ? 'Guest' : ${#authentication.principal.vo.usermail}]];
			
			// csrf
			var token = $("meta[name='_csrf_token']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
	 		/* function afterAll(list){
				printList(list);
				pointreply.val("");
				pointreplyer.val("");
			} */
			
			$(".btn_review_write").click(function(e){
				e.preventDefault();
				
				if(usermail == 'Guest'){
					self.location = [[@{/login/customLogin}]];
					return;
				}
				pointreply = pointreplyObj.val();
				
				console.log(usermail);
				console.log("pointreplyer : " + pointreplyer);
			 	if(mode == 'ADD'){
					var obj = {pointreply:pointreply, pointreplyer:usermail, pno:pno, token:token, header:header};
					console.log(obj);
					replyManager.add(obj, function(list){
						printList(list);
						alert("댓글이 추가되었습니다.");
						pointreplyObj.val("");
						pointreplyerObj.val("");
					});
				 
				}else if(mode =='MOD'){
					var obj = {pointreply:pointreply, pointreplyer:pointreplyer, pno:pno, rno:rno, token:token, header:header};
					console.log(obj);
					replyManager.update(obj, function(list){
						printList(list);
						console.log(list);
	
						alert("댓글이 수정되었습니다.");
						pointreplyObj.val("");
						pointreplyerObj.val("");
						mode = 'ADD';
						$("#si_review_form_submit").html("등록");
					});
				}
			});
			$(".review").on("click",".rop_delete", function(e){
				e.preventDefault();
				pointreply = pointreplyObj.val();
				pointreplyer = pointreplyerObj.val();
				
				rno = e.target.getAttribute("data-srl");
				var obj = {pno:pno, rno:rno, token:token, header:header};
				
				replyManager.remove(obj, function(list){
					printList(list);
					alert("댓글삭제가 완료되었습니다.");
					pointreplyObj.val("");
					pointreplyerObj.val("");
				});
				
			});
			var rno;
			$(".review").on("click", ".rop_edit", function(e){
				e.preventDefault();
				/*	pointreply = pointreplyObj.val();
				pointreplyer = pointreplyerObj.val();
				 */
				rno = e.target.getAttribute("data-srl");
				console.log(rno);
				mode = 'MOD';
				$("#si_review_form_submit").html("수정");
				
				pointreplyerValue = $(this).closest(".cmmt_content_box").find(".cmmt_c_user_name").html();
				pointreplyValue = $(this).closest(".cmmt_content_box").find(".cmmt_content").html();
				console.log(pointreplyerValue); 
				console.log(pointreplyValue);
				
				pointreplyObj.val(pointreplyValue);
				pointreplyerObj.val(pointreplyerValue);
			});
				
		});
	
	</script>

    <script th:inline="javascript">

        function initMap() {

            var lat = $(".date_tab").data("lat");
            var lng = $(".date_tab").data("lng");
            var latLng = { lat: lat, lng: lng };
            console.log(latLng);
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: lat, lng: lng },
                zoom: 17
            });
            var marker = new google.maps.Marker({
                position: latLng,
                map: map
            });

        }

        $(document).ready(function () {
        	
        	var actionForm = $("#actionForm");     
        	var pno = [[${detail.pno}]];
            var keyword = $("#demo").data("keyword");
            var keywordArr = keyword.split(",");
            console.log(keywordArr);
            var map;
            var words = [];
            for (var i = 0; i < keywordArr.length; i++) {
                words.push({ text: keywordArr[i], weight: (keywordArr.length - (i * 2)) })
            }

            var ctrl = new ScrollMagic.Controller();
            
        	// 목록으로 이동
        	$(".list").on("click", function(e){
        		
        		actionForm.attr("action","/pointboard/list").attr("method","get").submit();
        		
        	});
        	
        	// 삭제로 이동
        	$(".delete").on("click", function(e){
        		
        		actionForm.append("<input type='hidden' name='pno' value='"+pno+"'>");
        		actionForm.attr("action","/pointboard/delete").attr("method","post").submit();
        		
        	});	
        	
        	// 수정으로 이동
        	$(".modify").on("click", function(e){
        		
        		actionForm.append("<input type='hidden' name='pno' value='"+pno+"'>");
        		actionForm.attr("action","/pointboard/modify").attr("method","get").submit();
        		
        	});	
            
			// 탭 이동
			$('.tablinks').on('click',function(evt) {
				console.log(evt.target.id);
				var tab_id = evt.target.id;
				var tabForm = $("#tabForm")
				tabForm.attr("action","/"+tab_id+"/list").attr("method","get").submit();
				
/* 				console.log(this.innerHTML)
				// Declare all variables
				var i, tabcontent, tablinks;
				var cityName = this.innerHTML;
				// Get all elements with class="tabcontent" and hide them
				tabcontent = document
						.getElementsByClassName("tabcontent");
	
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
	
				// Get all elements with class="tablinks" and remove the class "active"
				tablinks = document
						.getElementsByClassName("tablinks");
				console.log(tablinks)
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className
							.replace(" active", "");
				}
	
				// Show the current tab, and add an "active" class to the button that opened the tab
				document.getElementById(cityName).style.display = "block";
				evt.currentTarget.className += " active"; */
			});
            
            initMilestones();
            $('#demo').jQCloud(words, {
                delay: 80,
                autoResize: true,
                colors: ["#1C63A2", "#00284C", "#023563", "#63A3DC", "#88C1F4", "#9A91F5"],
                shape: 'rectangular',
                height: 350
            });

            function initMilestones() {

                if ($('.milestone_counter').length) {
                    var milestoneItems = $('.milestone_counter');

                    milestoneItems.each(function (i) {
                        var ele = $(this);
                        var endValue = ele.data('end-value');
                        var eleValue = ele.text();

	                    /* Use data-sign-before and data-sign-after to add signs
	                infront or behind the counter number */
                        var signBefore = "";
                        var signAfter = "";

                        if (ele.attr('data-sign-before')) {
                            signBefore = ele.attr('data-sign-before');
                        }

                        if (ele.attr('data-sign-after')) {
                            signAfter = ele.attr('data-sign-after');
                        }

                        var milestoneScene = new ScrollMagic.Scene({
                            triggerElement: this,
                            triggerHook: 'onEnter',
                            reverse: false
                        })
                            .on('start', function () {
                                var counter = { value: eleValue };
                                var counterTween = TweenMax.to(counter, 4,
                                    {
                                        value: endValue,
                                        roundProps: "value",
                                        ease: Circ.easeOut,
                                        onUpdate: function () {
                                            document.getElementsByClassName('milestone_counter')[i].innerHTML = signBefore + counter.value + signAfter;
                                        }
                                    });
                            })
                            .addTo(ctrl);
                    });
                }
            }


        });

    </script>

</th:block>

</html>