<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{/layout/layout1}">

<th:block layout:fragment="style">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="../js/jquery-3.2.1.min.js"></script>
    <script src="../plugins/jqcloud2/dist/jqcloud.min.js"></script>
    <link rel="stylesheet" href="../plugins/jqcloud2/dist/jqcloud.min.css">
    <link rel="stylesheet" type="text/css" href="../styles/spot_info.css">
    <link rel="stylesheet" type="text/css" href="../styles/read_styles.css">
    <link rel="stylesheet" type="text/css" href="../styles/read_responsive.css">
    
    
    <!-- earthtory -->
	<!-- <link rel="stylesheet" href="https://www.earthtory.com/res/css/mypage/plan/plan_sub.css" /> -->
	<link rel="stylesheet" href="https://www.earthtory.com/res/js/mobile/owl_carousel/owl.carousel2.css" />
	<!-- <script type="text/javascript" src="https://www.earthtory.com/res/js/mobile/owl_carousel/owl.carousel2.js"></script> -->
	<!-- csrf -->
	<meta name="_csrf_token" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

</th:block>
<!-- facebook share -->
	<meta property="og:url"
		content="https://www.your-domain.com/your-page.html" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Your Website Title" />
	<meta property="og:description" content="Your description" />
	<meta property="og:image"
		content="https://www.your-domain.com/path/image.jpg" />
<!-- naver share -->
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
	
<div layout:fragment="content">

    <!-- Home -->

    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="../images/about_background.jpg"></div>
        <div class="home_content">
            <div class="home_title" th:text="${detail.coursetitle}"></div>
        </div>
    </div>

    <!-- Offers -->

    <div class="offers">

        <!-- Search -->

        <div class="search">
            <div class="search_inner">

                <!-- Search Contents -->

                <div class="container fill_height no-padding">
                    <div class="row fill_height no-margin">
                        <div class="col fill_height no-padding">


                            <div class="date_tabs_container">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="date_tabs">

<!--                                             <button class="date_tab" th:data-lat="33.4890113" th:data-lng="126.4983023">33.4890113</button>

                                            <button class="date_tab">126.4983023</button> -->
                                        </div>
                                    </div>
                                </div>
                                <div class='day_sel'>
                                	<select class='day_select'>DAY</select>
                                </div>
                                <div id="map" class="map"></div>
                            </div>

                            <div class="search_tabs_container">
								<div class="spot_list_box">
				<!-- <div class="spot_list_item">
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-1')" title="바르셀로나 국제 공항">
                        <div class="spot_number">1</div>
                        <div class="spot_title">바르셀...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-2')" title="호스탈 Bcn 람블라스">
                        <div class="spot_number">2</div>
                        <div class="spot_title">호스탈...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-3')" title="Irati Taverna Basca">
                        <div class="spot_number">3</div>
                        <div class="spot_title">Irati ...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-4')" title="에스크리바">
                        <div class="spot_number">4</div>
                        <div class="spot_title">에스크...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-5')" title="츄레리아 사그라다 파밀리아">
                        <div class="spot_number">5</div>
                        <div class="spot_title">츄레리...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-6')" title="람블라 거리">
                        <div class="spot_number">6</div>
                        <div class="spot_title">람블라...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-7')" title="레이알 광장">
                        <div class="spot_number">7</div>
                        <div class="spot_title">레이알...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-8')" title="구엘 궁전">
                        <div class="spot_number">8</div>
                        <div class="spot_title">구엘 ...</div>
                    </div>
                    <div class="spot_item" onclick="page_scroll('day_sch_box','1-9')" title="콜럼버스 기념탑">
                        <div class="spot_number">9</div>
                        <div class="spot_title">콜럼버...</div>
                    </div>
                    <div class="clear"></div>
                </div> -->
								</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Offers -->

        <div class="container">
            <div class="row">
                <div class="col-lg-1 temp_col"></div>
                <div class="col-lg-11">
                    <div class="tab">
						<button class="tablinks active" id="courseboard">코스게시판</button>
						<button class="tablinks" id="pointboard">장소게시판</button>
						<button class="tablinks" id="freeboard">자유게시판</button>
						<button class="tablinks" id="tipboard">정보공유게시판</button>
						<button class="tablinks" id="reviewboard">여행후기게시판</button>
                    </div>
                    <div id="COURSE" class="col-lg-12 tabcontent" style="display: block;">
                        <!-- Offers Grid -->

                        <!-- Offers Item -->

                        <div class="offers_item rating_4" id="코스게시판">
                            <div class="row">
                                <div class="col-lg-1 temp_col"></div>

                                <div class="col-lg-11">
                                    <div class="offers_content">
                                        <div class="offers_price" th:text="${detail.coursetitle}"><span th:text="${#dates.format(detail.regdate, 'yyyy-MM-dd HH:mm')}"></span></div>
                                        		
                                        		<!-- rating -->
                                        		<!-- <div class="starDiv">
												<span class="star-input">
												  <span class="input">
												    <input type="radio" name="star-input" id="p1" value="1"><label for="p1">1</label>
												    <input type="radio" name="star-input" id="p2" value="2"><label for="p2">2</label>
												    <input type="radio" name="star-input" id="p3" value="3"><label for="p3">3</label>
												    <input type="radio" name="star-input" id="p4" value="4"><label for="p4">4</label>
												    <input type="radio" name="star-input" id="p5" value="5"><label for="p5">5</label>
												    <input type="radio" name="star-input" id="p6" value="6"><label for="p6">6</label>
												    <input type="radio" name="star-input" id="p7" value="7"><label for="p7">7</label>
												    <input type="radio" name="star-input" id="p8" value="8"><label for="p8">8</label>
												    <input type="radio" name="star-input" id="p9" value="9"><label for="p9">9</label>
												    <input type="radio" name="star-input" id="p10" value="10"><label for="p10">10</label>
												  </span>
												  <output for="star-input"><b>0</b>점</output>
												</span>
												</div> -->
												<!-- rating end -->

                                        <div class="read_descs">

                                            <p class="offers_text" th:text="${detail.coursecontent}"></p>

                                        </div>

                                        <div class="offer_reviews" th:with="usermail = ${#authentication.principal} eq 'anonymousUser' ? 'Guest' : ${#authentication.principal.vo.usermail}">
                                            <div class="footer_content footer_tags">
	                                            <div th:if="${usermail} eq ${detail.usermail}" class="tag_item">
	                                                <button class="modify">수정</button>
	                                            </div>
	                                            <div th:if="${usermail} eq ${detail.usermail}" class="tag_item">
	                                                <button class="delete">삭제</button>
	                                            </div>
	                                            <div class="tag_item">
	                                                <button class="list">목록으로</button>
	                                            </div>
                                            </div>
                                        </div>
                                        <!-- earthtory -->
											
											<!-- share button -->
														<div class="shareBtn">
															<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
															
															<div class="fb-share-button" data-href="http://10.10.10.91:8080/courseboard/read?coursebno=10"
																data-layout="button" data-size="large" data-mobile-iframe="true">
																<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flocalhost%3A8080%2Fcourseboard%2Fread%3Fpage%3D1%26display%3D10%26type%26keyword%26coursebno%3D10&amp;src=sdkpreparse"
																class="fb-xfbml-parse-ignore">공유하기</a></div>
															
															<a href="javascript:;" id="kakao-link-btn">
																<img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png" />
															</a>
														</div>
														<!-- share button end -->
											
										<div class="page_left" id="dayList">
											<div class="day_box" data-id="1">
												<div class="day_info_box">
													<div class="day_txt">DAY1</div>
													<div class="day_info">
														<div class="day_info_left">
															<div class="date"></div>
															<div class="day_title"></div>
														</div>
														
														
														
														<div class="day_info_right" style="display: none;"></div>
														<div class="clear"></div>
													</div>
													<div class="clear"></div>
												</div>
												<div id="pointList">
													
												</div>

	<!-- 											<div class="day_sch_box" data-id="1-1">
														<div class="day_sch_num">
															<div class="sch_num">1</div>
														</div>
														<div class="sch_content">
															<img
																src="http://img.earthtory.com/img/place_img/58/2133_0_et.jpg"
																alt="" class="spot_img"
																onerror="this.src='/res/img/common/no_img/sight55.png';"
																onclick="window.open('/ko/city/osaka_58/attraction/triangle-park_2133');"
																style="cursor: pointer;">
															<div class="spot_content_box">
																<div class="spot_name"
																	onclick="window.open('/ko/city/osaka_58/attraction/triangle-park_2133');"
																	style="cursor: pointer;">pointName</div>
																<div class="spot_info">
																	<div class="tag">category</div>
																	<div class="sinfo_line"></div>
																	<div class="sinfo_txt">
																		good / bad  <span>1개의 평가</span>
																	</div>
																	<div class="clear"></div>
																</div>
															</div>
															<div class="clear"></div>
														</div>
														<div class="clear"></div>
														<div class="clear"></div>
													</div> -->
												
											</div>
										</div>

										<!-- end earthtory -->
										
										<div class="spot_info_box community">
											<div class="clear"></div>
											<div class="write_area">
												<div class="write_review">
													<div class="write_title r">댓글쓰기
														<!-- <input type="text" id="pointreplyer" class="check_in search_input" placeholder="작성자를 입력하세요."> -->
													</div>
													<div class="review_box">
														<div class="write_left">
														</div>
														<div class="write_center">
															<input id="reply" class="review_area" placeholder="댓글을 작성하세요.">
														</div>
														<div class="write_right">
															<div class="btn_review_write" id="si_review_form_submit"
																data="new">등록</div>
														</div>
														<div class="clear"></div>
													</div>
												</div>
											</div>

											<div class="cmmt_tab_content review">
<!-- 													<div class="cmmt_content_box" >
														<div class="cmmt_c_user">
															<div class="cmmt_c_user_txt">
																<div class="cmmt_c_user_name" > 작성자
																 <span> &nbsp;&nbsp;등록시간 </span>
																</div>
																<div class="cmmt_c_user_level">

																	<div class="rv_cnt">좋아요 싫어요</div>
																	<div class="clear"></div>
																</div>
															</div>
															<div class="clear"></div>
														</div>
														<div class="cmmt_content">방콕 투어 중 가장 잼있게 놀았어요 방콕 투어
															중 가장 잼있게 놀았어요방콕 투어 중 가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게 방콕 투어 중
															가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게 놀았어요방콕 투어 중 가장 잼있게 놀았어요 방콕 투어
															중 가장 잼있게 투어 중 가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게 놀았어요 방콕 투투어 중 가장
															잼있게 놀았어요 방콕 투어 중 가장 잼있게 놀투어 중 가장 잼있게 놀았어요 방콕 투어 중 가장 잼있게
															놀았어요.</div>
													</div> -->
												
											</div>
										</div> <!-- end comunity -->
									</div>
								</div>
							</div>
	
	
						</div>
	                    <div id="TENDENCY" class="tabcontent">
	                        <div class="offers_sorting_container">
	
	                            <ul class="offers_sorting">
	                                <li>
	                                    <span class="sorting_text">price</span>
	                                    <i class="fa fa-chevron-down"></i>
	                                    <ul>
	                                        <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }'
	                                            data-parent=".price_sorting"><span>show all</span></li>
	                                        <li class="sort_btn" data-isotope-option='{ "sortBy": "price" }'
	                                            data-parent=".price_sorting"><span>ascending</span></li>
	                                    </ul>
	                                </li>
	                                <li>
	                                    <span class="sorting_text">location</span>
	                                    <i class="fa fa-chevron-down"></i>
	                                    <ul>
	                                        <li class="sort_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>default</span>
	                                        </li>
	                                        <li class="sort_btn" data-isotope-option='{ "sortBy": "name" }'>
	                                            <span>alphabetical</span></li>
	                                    </ul>
	                                </li>
	                                <li>
	                                    <span class="sorting_text">stars</span>
	                                    <i class="fa fa-chevron-down"></i>
	                                    <ul>
	                                        <li class="filter_btn" data-filter="*"><span>show all</span></li>
	                                        <li class="sort_btn" data-isotope-option='{ "sortBy": "stars" }'>
	                                            <span>ascending</span></li>
	                                        <li class="filter_btn" data-filter=".rating_3"><span>3</span></li>
	                                        <li class="filter_btn" data-filter=".rating_4"><span>4</span></li>
	                                        <li class="filter_btn" data-filter=".rating_5"><span>5</span></li>
	                                    </ul>
	                                </li>
	                                <li class="distance_item">
	                                    <span class="sorting_text">distance from center</span>
	                                    <i class="fa fa-chevron-down"></i>
	                                    <ul>
	                                        <li class="num_sorting_btn"><span>distance</span></li>
	                                        <li class="num_sorting_btn"><span>distance</span></li>
	                                        <li class="num_sorting_btn"><span>distance</span></li>
	                                    </ul>
	                                </li>
	                                <li>
	                                    <span class="sorting_text">reviews</span>
	                                    <i class="fa fa-chevron-down"></i>
	                                    <ul>
	                                        <li class="num_sorting_btn"><span>review</span></li>
	                                        <li class="num_sorting_btn"><span>review</span></li>
	                                        <li class="num_sorting_btn"><span>review</span></li>
	                                    </ul>
	                                </li>
	                            </ul>
	                        </div>
						</div>
	
					</div>
	
	
				</div>
			</div>
		</div>
	</div>
	<form id="actionForm">
		<input sec:authorize="hasRole('ROLE_MEMBER')" type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<input type="hidden" name='page' th:value="${pageObj.page}">
		<input type="hidden" name='display' th:value="${pageObj.display}">
		<input type="hidden" name='category' th:value="${pageObj.category}">
		<input type="hidden" name='type' th:value="${pageObj.type}">
		<input type="hidden" name='keyword' th:value="${pageObj.keyword}">
	</form>
		
	<form id="tabForm">
	</form>
</div>

<th:block layout:fragment="script">


	<script src="https://www.gstatic.com/firebasejs/5.5.9/firebase.js"></script>
    <script src="../plugins/greensock/TweenMax.min.js"></script>
    <script src="../plugins/greensock/TimelineMax.min.js"></script>
    <script src="../plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="../plugins/greensock/animation.gsap.min.js"></script>
    <script src="../plugins/greensock/ScrollToPlugin.min.js"></script>
    <!-- <script src="../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script> -->
    <script type="text/javascript" src="https://www.earthtory.com/res/js/js/jquery-latest.min.js"></script>
    <script type="text/javascript" src="https://www.earthtory.com/res/js/mobile/owl_carousel/owl.carousel2.js"></script>
    <script src="../js/read_custom.js"></script>
    <script src="../js/courseboardreply.js"></script>
    
    <script src="../js/fb.js"></script>
	<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
	<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	
	<!-- facebook shared -->
	<div id="fb-root"></div>
	<script>
		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
		 	if (d.getElementById(id)) return;
	 		js = d.createElement(s); js.id = id;
		 	js.src = 'https://connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v3.2';
		 	fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>
	
	<!-- kakao shared -->
	<script type="text/javascript">
  //<![CDATA[
    // // 사용할 앱의 JavaScript 키를 설정해 주세요.
    Kakao.init('4bd54a12e70b615cf1c7e6066275d6f6');
    // // 카카오링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createDefaultButton({
      container: '#kakao-link-btn',
      objectType: 'feed',
      content: {
        title: document.title,
        description: '여행코스 공유',
        imageUrl: document.images[0].src,
        link: {
          webUrl: document.location.href,
          mobileWebUrl: document.location.href
        }
      },
      /* social: {
        likeCount: 286,
        commentCount: 45,
        sharedCount: 845
      }, */
      buttons: [
        {
          title: '링크 열기',
          link: {
            mobileWebUrl: document.location.href,
            webUrl: document.location.href
          }
        }  
      ]
    });
  //]]>
</script>

<!-- twitter shared -->
<script>
function share_tw(){
	  var content = "트윗트윗\r\n\r\n";
	  var link = "http://10.10.10.91:8080/courseboard/read?coursebno="+coursebno;
	  var popOption = "width=370, height=360, resizable=no, scrollbars=no, status=no;";
	  var wp = window.open("http://twitter.com/share?url=" + encodeURIComponent(link) + "&text=" + encodeURIComponent(content), 'twitter', popOption);
	  if ( wp ) {
	    wp.focus();
	  }    
	}
</script>
	
	<script th:inline="javascript">
	
	// star rating
	var starRating = function(){
	  var star = $(".star-input"),
	      result = star.find("output>b");
	  $(document)
	    .on("focusin", ".star-input>.input", function(){
	    $(this).addClass("focus");
	  })
	    .on("focusout", ".star-input>.input", function(){
	    setTimeout(function(){
	      if($(this).find(":focus").length === 0){
	    	  $(this).removeClass("focus");
	      }
	    }, 100);
	  })
	    .on("change", ".star-input :radio", function(){
	    result.text($(this).next().text());
	  })
	    .on("mouseover", ".star-input label", function(){
	    result.text($(this).text());
	  })
	    .on("mouseleave", ".star-input>.input", function(){
	    var checked = star.find(":checked");
	    if(checked.length === 0){
	      result.text("0");
	    } else {
	      result.text(checked.next().text());
	    }
	  });
	  
	  $(".input label").on("click", function(){
		  var rating = result[0].innerText;
		  /* console.log(result); */
		  console.log(rating);
	  });
	  
	};
	starRating();
	
	</script>

    <script th:inline="javascript">
    
	    var map;
	    var coursekey = [[${detail.coursekey}]];
	    var pointList = $("#pointList");
	    var dayList = $("#dayList");
		var poly;
	    var course;
	    var markerArr = [];
	    var spotList = $('.spot_list_box');
	    var spotNav = new Array();
	    var title = 'untitled'
	    var day_sel_html = '';
    
		// 맵 설정
        function initMap() {
        	getFBData();
        }
		
     	// firebaseDB 가져오기
        function getFBData(){
            courseService.readCourse(coursekey, title, function(data) {
            	course = data;
            	console.log(course['day0'])

             	drawList(course);

             	drawSpotList(course);
            	
             	var lat = Number(course['day0'][0].lat);
                var lng = Number(course['day0'][0].lng);
                var latLng = { lat: lat, lng: lng };
            	map = new google.maps.Map(document.getElementById('map'),{center : { lat: lat, lng: lng }, zoom: 11, minZoom: 8});

                drawMarker(course['day0']);
                drawPath();
            });
        }
     	
        // draw path
        function drawPath() {
        	
        	var lineSymbol = {
					path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
				};
            poly = new google.maps.Polyline({ //선분 모양 설정
            	icons: [{
					  icon: lineSymbol,
					  repeat:'100px',
					  offset: '100%'
					}],
                strokeColor : '#000000',
                strokeOpacity : 1,
                strokeWeight : 1.5
            });
            
            for (var i = 0; i < markerArr.length; i++) {         
                poly.getPath().push(markerArr[i].position);
            }       
            poly.setMap(map);
        }  
     	
        // draw marker
        function drawMarker(arr) {
        	markerArr = [];
            for (var i = 0; i < arr.length; i++) {
            	var lat = Number(arr[i].lat);
                var lng = Number(arr[i].lng);
                var latLng = { lat: lat, lng: lng };
                var marker = new google.maps.Marker({
                    position : latLng,
                    title : arr[i].title,
                    descs : arr[i].descs,
                    myPos : latLng,
                    map : map
                });
                markerArr.push(marker);
                
            }//end for 
        }
        
        //draw list
        function drawList(arr) {
            var str = "";
            dayList.html("");
            for (var i = 0; i < Object.keys(arr).length; i++) {
            	str = '<div class="day_box" data-id="'+(i)+'">';
        			str += '<div class="day_info_box">';
	            		str += '<div class="day_txt">DAY'+(i+1)+'</div>';
	            		str += '<div class="day_info">';
            				str += '<div class="day_info_left">';
			            		str += '<div class="date"></div>';
			            		str += '<div class="day_title"></div>';
		            		str += '</div>';
		            		str += '<div class="day_info_right" style="display: none;"></div>';
		            		str += '<div class="clear"></div>';
	            		str += '</div>';
	            		str += '<div class="clear"></div>';
            		str += '</div>';
            		str += '<div id="pointList">';
            	for(var j = 0; j < arr['day'+i].length;j++){
	                (function(arr) {
	                   	str += "<div class='day_sch_box' data-id='"+(i+1)+'-'+(j+1)+"'>";
							str += "<div class='day_sch_num'><div class='sch_num'>"+(j+1)+"</div></div>";
								str += "<div class='sch_content'>";
									str += "<img ";
										str += "src='"+arr['day'+i][j].img+"'";
										str += "alt='' class='spot_img'";
										str += "onerror=" + "this.src='/res/img/common/no_img/sight55.png'; ";
										str += "onclick=" + "window.open('/pointboard/read?pno="+arr['day'+i][j].pno+"'); ";
										str += "style='cursor: pointer;'>";
									str += "<div class='spot_content_box'>";
										str += "<div class='spot_name'";
											str += "onclick=" + "window.open('/pointboard/read?pno="+arr['day'+i][j].pno+"'); ";
											str += "style='cursor: pointer;'>"+arr['day'+i][j].title+"</div>";
										str += "<div class='spot_info'>";
											str += "<div class='tag'>category</div>";
											str += "<div class='sinfo_line'></div>";
											str += "<div class='sinfo_txt'>";
											str += "good / bad  <span>1개의 평가</span>";
										str += "</div>";
										str += "<div class='clear'></div>";
									str += "</div>";
								str += "</div>";
								str += "<div class='clear'></div>";
							str += "</div>";
							str += "<div class='clear'></div>";
							str += "<div class='clear'></div>";
						str += "</div>";
						
	                })(course);
            	}
            	str += "</div>";
            	str += "</div>";
            	dayList.append(str);
            }
        }
        
        //draw spotList 오른쪽 맵밑에 네비지점
        function drawSpotList(arr) {
            spotList.html("");
            for (var i = 0; i < Object.keys(arr).length; i++) {
            	day_sel_html += '<option value="'+(i)+'">DAY'+(i+1)+'</option>';
            	spotNav[i]= '';
	            spotNav[i] += '<div class="spot_list_item">';
	           	for(var j = 0; j < arr['day'+i].length;j++){
	                (function(arr) {
	                	spotNav[i] += '<div class="spot_item" onClick="page_scroll(\'day_sch_box\',\''+(i+1)+'-'+(j+1)+'\');set_center('+arr['day'+i][j].lat+','+arr['day'+i][j].lng+');" title="'+arr['day'+i][j].title+'">';
	                	spotNav[i] += '<div class="spot_number">'+(j+1)+'</div>';
	                	spotNav[i] += '<div class="spot_title">'+arr['day'+i][j].title.cut(10,'...')+'</div>';
	                	spotNav[i] += '</div>';
	               		
	               		if((i+1)%9 == 0){
	               			console.log(i);
	               			spotNav[i] += '<div class="clear"></div>';
	               			spotNav[i] += '</div>';
	               			spotNav[i] += '<div class="spot_list_item">';
	               		}
	                	
	                })(course);
	            }
	           	spotNav[i] += '</div>';
            }
            spotList.append(spotNav[0]);
            $('.day_select').html(day_sel_html);
        }
        
        // 맵 중심을 lat,lng로 가게
    	function set_center(_this_lat, _this_lng){
    		var latLng = new google.maps.LatLng(_this_lat, _this_lng);
    	    map.setCenter(latLng);
    		map.setZoom(15);
    	}
        
        // pagescroll move
    	function page_scroll(target,id){
    		var xtop = parseInt($('.'+target+'[data-id='+id+']').offset().top)-100;
    		$('body,html').animate({scrollTop:xtop});
    	}
        
    	// 스팟리스트 슬라이드 리셋
    	function reset_spot_list(){ 
    		spotList.trigger('destroy.owl.carousel').removeClass('owl-carousel owl-loaded');
    		spotList.find('.owl-stage-outer').children().unwrap();
    		spotList.owlCarousel({
    			navigation : false,
    			nav:true,
    			slideSpeed : 300,
    			paginationSpeed : 400,
    			singleItem : true,
    			items:1,
    			navText:['<img src="https://www.earthtory.com/res/img/mypage/plan/sub/spot_list_prev.gif">','<img src="https://www.earthtory.com/res/img/mypage/plan/sub/spot_list_next.gif">']
    		});	
    	}
    	
    	
    	// Day 이동시 지도와 네이게이션 변경
		$(document).on('change','.day_select',function(){
			var day = $(this).val();			
         	var lat = Number(course['day'+day][0].lat);
            var lng = Number(course['day'+day][0].lng);
            var latLng = { lat: lat, lng: lng };
        	map = new google.maps.Map(document.getElementById('map'),{center : { lat: lat, lng: lng }, zoom: 11, minZoom: 8});
        	drawMarker(course['day'+day]);
        	spotList.html(spotNav[day]);
        	drawPath();
        	console.log(day)
        	page_scroll('day_box',day);
		});

    	
    	// scroll 이동
    	$(document).scroll(function(){
			var stop_top = $('.footer').position().top;
			var stop = $(document).scrollTop();
			var bodyHeight = parseInt($(document).height())-parseInt($('.footer').height())-1250;

/* 			console.log(stop);
			console.log("=======================================");
			console.log(bodyHeight); */
			
			if(stop > 363){
/* 				$('.tab').css('position','fixed');
				$('.tab').css('top',100);
				$('.tab').css('z-index','10');
				$('.tab').css('left','50%');
				$('.tab').css('margin-left','-546px'); */
				

				if(stop < parseInt(stop_top)-700){
					$('.search').css('position','fixed');
					$('.search').css('top','100px');
					$('.search').css('margin-right','198px');
				}
			}else{
				$('.tab').attr('style','');
				$('.wrap.page').attr('style','');
				$('.search').attr('style','');
			}
			
/* 
			if(stop > 0){
				$('.btn_top').fadeIn();
			}else{
				$('.btn_top').fadeOut();
			}
			var _this_day = '1';
			$('.day_box').each(function(){
				var xtop = parseInt($(this).offset().top)-100;
				if(stop >= xtop){
					_this_day = $(this).attr('data-id');
				}
			});
			set_day(_this_day); */
		});


        $(document).ready(function () {
        	
        	var actionForm = $("#actionForm");     
        	var coursebno = [[${detail.coursebno}]];
        	var coursekey = [[${detail.coursekey}]];
        	var courserno;
        	
        	// 댓글 불러오기
        	(function(){
				replyManager.getAll(coursebno, printList);
			})();
        	
        	// 댓글 불러와서 화면에 출력 
			function printList(list){
				var str = "";
				var replyObj;
				for(var i=0;i<list.length;i++){
					replyObj = list[i];
					
					str += "<div class='cmmt_content_box' >"+
					 "<div class='cmmt_c_user'>"+
					"<div class='cmmt_c_user_txt'>"+
					"<div class='cmmt_c_user_name'>"+replyObj.usermail+
					"</div><span class='regdateSpan'>"+formatDate(replyObj.regdate)+"</span>"+
					"<div class='cmmt_c_user_level'>"+
					/* "<div class='rv_cnt'>좋아요: "+replyObj.good+" 싫어요: "+replyObj.bad+"</div>"+ */
					"<div class='clear'></div>"+
					"</div>"+
					"</div>"+
					"<div class='clear'></div>"+
					"</div>"+
					"<div class='review_opbtn'>";            
					if (usermail ==replyObj.usermail){
						str += "<div class='rv_op_btn rop_delete' data-srl='"+replyObj.courserno+"'>삭제</div>"+
						"<div class='rv_op_btn line rop_edit' data-srl='"+replyObj.courserno+"'>수정</div>";
					}
					str +="</div>"+
					"<div class='cmmt_content'>"+replyObj.reply+"</div>"+
					"</div>";
	
			/* 		str += "<tr>"+
					"<th>"+ replyObj.rno+" </th>"+
					"<th>"+ replyObj.pointreply+" </th>"+
					"<th>"+ replyObj.pointreplyer+" </th>"+
					"<th>"+ formatDate(replyObj.regdate)+" </th>"+
					"</tr>"; */
				}
				$(".review").html(str);
			}
        	
        	// 날짜 변환
			function formatDate(timeValue){
				var date = new Date(timeValue);
				return date.getFullYear()
					+ "-" + (date.getMonth()+1 >= 10?date.getMonth()+1:'0'+(date.getMonth()+1))
					+ "-" + date.getDate()
			}
        	
			var mode = 'ADD';
			
			var replyObj = $("#reply");
			
			// security로 사용자 로그인한지 확인 안했으면 Guest 했으면 usermail
			var usermail = [[${#authentication.principal} eq 'anonymousUser' ? 'Guest' : ${#authentication.principal.vo.usermail}]];
			
			var token = $("meta[name='_csrf_token']").attr("content");
			var header = $("meta[name='_csrf_header']").attr("content");
			
			$(".btn_review_write").click(function(e){
				e.preventDefault();
				
				if(usermail == 'Guest'){
					self.location = [[@{/login/customLogin}]];
					return;
				}
				reply = replyObj.val();
				
			 	if(mode == 'ADD'){
					var obj = {reply:reply, usermail:usermail, coursebno:coursebno, token:token, header:header, coursekey:coursekey};
					console.log(obj);
					replyManager.add(obj, function(list){
						printList(list);
						alert("댓글이 추가되었습니다.");
						replyObj.val("");
					});
				 
				}else if(mode =='MOD'){
					var obj = {reply:reply, usermail:usermail, coursebno:coursebno, courserno:courserno, token:token, header:header, coursekey:coursekey};
					console.log(obj);
					replyManager.update(obj, function(list){
						printList(list);
						console.log(list);
	
						alert("댓글이 수정되었습니다.");
						replyObj.val("");
						mode = 'ADD';
						$("#si_review_form_submit").html("등록");
					});
				}
			});
			$(".review").on("click",".rop_delete", function(e){
				e.preventDefault();
				reply = replyObj.val();
				
				courserno = e.target.getAttribute("data-srl");
				var obj = {coursebno:coursebno, courserno:courserno, token:token, header:header};
				
				replyManager.remove(obj, function(list){
					printList(list);
					alert("댓글삭제가 완료되었습니다.");
					replyObj.val("");
				});
				
			});
			var rno;
			$(".review").on("click", ".rop_edit", function(e){
				e.preventDefault();
				/*	pointreply = pointreplyObj.val();
				pointreplyer = pointreplyerObj.val();
				 */
				courserno = e.target.getAttribute("data-srl");
				mode = 'MOD';
				$("#si_review_form_submit").html("수정");
				
				replyValue = $(this).closest(".cmmt_content_box").find(".cmmt_content").html();
				
				replyObj.val(replyValue);
				console.log($("#reply").offset().top);
				$('html,body').animate({scrollTop : $(".community").offset().top-100});
			});
        	
        	
/*         	// 포인트 이동
        	$('.spot_list_box').owlCarousel({
    			navigation : false,
    			nav:true,
    			slideSpeed : 300,
    			paginationSpeed : 400,
    			singleItem : true,
    			items:1,
    			navText:['<img src="/res/img/mypage/plan/sub/spot_list_prev.gif">','<img src="/res/img/mypage/plan/sub/spot_list_next.gif">']
    		}); */
            
        	// 목록으로 이동
        	$(".list").on("click", function(e){
        		
        		actionForm.attr("action","/courseboard/list").attr("method","get").submit();
        		
        	});
        	
        	// 삭제로 이동
        	$(".delete").on("click", function(e){
        		
        		actionForm.append("<input type='hidden' name='coursebno' value='"+coursebno+"'>");
        		actionForm.attr("action","/courseboard/delete").attr("method","post").submit();
        		
        	});	
        	
        	// 수정으로 이동
        	$(".modify").on("click", function(e){
        		
        		actionForm.append("<input type='hidden' name='coursebno' value='"+coursebno+"'>");
        		actionForm.attr("action","/courseboard/modify").attr("method","get").submit();
        		
        	});	
            
			// 탭 이동
			$('.tablinks').on('click',function(evt) {
				console.log(evt.target.id);
				var tab_id = evt.target.id;
				var tabForm = $("#tabForm")
				tabForm.attr("action","/"+tab_id+"/list").attr("method","get").submit();
				
/* 				console.log(this.innerHTML)
				// Declare all variables
				var i, tabcontent, tablinks;
				var cityName = this.innerHTML;
				// Get all elements with class="tabcontent" and hide them
				tabcontent = document
						.getElementsByClassName("tabcontent");
	
				for (i = 0; i < tabcontent.length; i++) {
					tabcontent[i].style.display = "none";
				}
	
				// Get all elements with class="tablinks" and remove the class "active"
				tablinks = document
						.getElementsByClassName("tablinks");
				console.log(tablinks)
				for (i = 0; i < tablinks.length; i++) {
					tablinks[i].className = tablinks[i].className
							.replace(" active", "");
				}
	
				// Show the current tab, and add an "active" class to the button that opened the tab
				document.getElementById(cityName).style.display = "block";
				evt.currentTarget.className += " active"; */
			});
        });

    </script>
    
   	
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIdmqOHKEfF4mfn6EXtuLeeP2-h3yJr6A&callback=initMap" async defer></script>

</th:block>

</html>