<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/layout1}">

<th:block layout:fragment="style">
<link rel="stylesheet" type="text/css" href="/styles/register_styles.css">
<link rel="stylesheet" type="text/css" href="/styles/contact_responsive.css">
</th:block>
	
<div layout:fragment="content">

		<!-- Home -->


	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll"
			data-image-src="../images/contact_background.jpg"></div>
		<div class="home_content">
			<div class="home_title">register</div>
		</div>
	</div>



	<!-- Contact -->

	<div class="contact_form_section">
	
	
	
		<div class="contact_container">
			<div class="row">
				<div class="col">

					<!-- Contact Form -->
					<div class="contact_form_container" th:with="member=${#authentication.principal.vo}">

						<div class="contact_title text-center">등 록</div>
						<form action="/courseboard/register" method="post" id="contact_form" class="contact_form text-center">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							<input type="text" name="coursetitle" class="contact_form_name input_field" placeholder="Title" required="required" data-error="Title is required.">
							<input type="text" name="coursekey" class="contact_form_name input_field" placeholder="key" required="required" data-error="key is required.">
							<input type="text" name="usermail" class="contact_form_email input_field" placeholder="usermail" required="required" data-error="Usermail is required." th:value="${member.usermail}" readonly="readonly">
							<textarea id="contact_form_message" class="text_field contact_form_message" name="coursecontent" rows="4" placeholder="coursecontent" required="required" data-error="Coursecontent is required."></textarea>
							<button type="submit" id="form_submit_button" class="form_submit_button button trans_200">등록<span></span><span></span><span></span></button>
							<button type="button" class="button cancel">취소<span></span><span></span><span></span></button>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>
	<form id="actionForm">
	</form>
</div>
<th:block layout:fragment="script">

<script th:inline="javascript">
	
	$(document).ready(function(){
		
		var actionForm = $("#actionForm");
		
		$(".cancel").on("click", function(e){
			e.preventDefault();
			
			actionForm.attr("action","/courseboard/list").submit();
		});
		
	});

</script>

</th:block>

</html>