<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.honeyrock.mapper.CourseMapper">

	<insert id="insert" parameterType="org.honeyrock.domain.CourseVO">
		insert into tbl_course (coursekey, usermail, coursename, courseimg, days) values(#{coursekey}, #{usermail}, #{coursename}, #{courseimg}, #{days})
		<!-- insert into tbl_Course (coursekey, usermail) values(#{coursekey}, #{usermail}) 유저메일 적용하면 바꿈 -->
	</insert>
	
	<insert id="starInsert" parameterType="org.honeyrock.domain.CourseRatingVO">
		insert into tbl_course_rating (coursekey, usermail, userrating) values (#{coursekey}, #{usermail}, #{userrating});
	</insert>

	<select id="getList" resultType="org.honeyrock.domain.CourseVO">
		select course.coursekey, course.usermail, course.coursename, course.good, course.bad, course.regdate, course.updatedate, course.days, course.cost, course.keyword, course.rating, course.del, course.courseimg, board.coursebno
		from tbl_course course left outer join tbl_course_board board
		on course.coursekey = board.coursekey
		where course.usermail = #{usermail}
		and course.del = 0 
		order by course.regdate desc
	</select>
	
	 <delete id="delete">
  		update tbl_course set del=1 where coursekey=#{coursekey}
  	</delete>
  	
	<update id="update" parameterType="org.honeyrock.domain.CourseVO">
		update tbl_course set coursename=#{coursename}, days=#{days}, updatedate = now() where coursekey=#{coursekey}
	</update>
	
	<select id="find" resultType="Integer">
		select count(*) from tbl_course where coursekey = #{coursekey}
	</select>
	
</mapper>