<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.honeyrock.mapper.CourseMapper">

	<insert id="insert" parameterType="org.honeyrock.domain.CourseVO">
		insert into tbl_course (coursekey, usermail) values(#{coursekey}, 'admin@test.com')
		<!-- insert into tbl_Course (coursekey, usermail) values(#{coursekey}, #{usermail}) 유저메일 적용하면 바꿈 -->
	</insert>
	
</mapper>