<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.honeyrock.mapper.PointMapper">

	<select id="getList" resultType="org.honeyrock.domain.PointVO">
		select * from tbl_point 
		where 1=1 
		<include refid="search"></include>
		<include refid="category"></include>
		and pno > (select max(pno) - 100000 from tbl_point)
		and del = 0 
		order by pno desc limit #{skip},#{display}
	</select>

	
	<select id="getImg" resultType="org.honeyrock.domain.PointVO">
		select * from tbl_point order by pno desc
	</select>

	<select id="count" resultType="int">
		select count(*) from tbl_point
		where 1=1
		<include refid="search"></include>
		<include refid="category"></include>
		and pno > (select max(pno) - 100000 from tbl_point)
	</select>

	
	<select id="read" resultType="org.honeyrock.domain.PointVO">
		select * from tbl_point where pno = #{pno}
	</select>
	
	<select id="imgread" resultType="org.honeyrock.domain.PointVO">
		select * from tbl_point_img where pno = #{pno} order by ino desc
	</select>
	
	<insert id="register" parameterType="org.honeyrock.domain.PointVO">
		insert into tbl_point (title, lat, lng, keyword, category, img) values(#{title}, #{lat}, #{lng}, #{keyword}, #{category}, #{img})
	</insert>
	
	<update id="update" parameterType="org.honeyrock.domain.PointVO">
		update tbl_point set title=#{title}, lat=#{lat}, lng=#{lng}, keyword=#{keyword}, category=#{category}, img=#{img} where pno=#{pno}
	</update>
	
	 <delete id="delete" parameterType="org.honeyrock.domain.PointVO">
  		update tbl_point set del=1 where pno=#{pno}
  	</delete>


	<sql id="category">
		<if test="category != null">
			<if test="category == 'S'.toString()">
				and category = 'S'
			</if>
			<if test="category == 'R'.toString()">
				and category = 'R'
			</if>
			<if test="category == 'H'.toString()">
				and category = 'H'
			</if>
		</if>
	</sql>
	
	<sql id="search">
	  	<if test="types != null">
	  		<foreach collection="types" item="type" open="AND (" close=")" separator="OR">
		  		<if test="type == 't'.toString()">
		  			title like concat('%',#{keyword},'%')
		  		</if>
		  		<if test="type == 'd'.toString()">
		  			descs like concat('%',#{keyword},'%')
		  		</if>
		  		<if test="type == 'w'.toString()">
		  			writer like concat('%',#{keyword},'%')
		  		</if>
	  		</foreach>
	  	</if>
	</sql>
	
	<select id="getPList" resultType="org.honeyrock.domain.PointVO">
		select * from tbl_point where del=0 order by good desc
		limit 0,12
	</select>
	
	<select id="getRPList" resultType="org.honeyrock.domain.PointVO">
		select * from tbl_point
		where del=0
		order by pno desc
		limit 0,5
	</select>
	
</mapper>