<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.honeyrock.mapper.PointMapper">
	<select id="getList" resultType="org.honeyrock.domain.PointVO">
		select * from tbl_point where pno > 50 order by pno desc 
	</select>

</mapper>