.fadein { position:relative; width:500px; height:332px; }
.fadein img { position:absolute; left:0; top:0; }

/* .row-container1 {
	position: absolute;
	top : 50px;
	
	
} */


input:focus { 
  outline: none; 
} 


.logo img{
	height: 55px;
	margin-top: 38px;
	margin-left: 25px;
}

.rec_title{
	padding-left : 35px;
}

.checkbox {
	z-index: 10;
	position: absolute;
	float: left;
	width: 50px;
	height: 50px;
	cursor: pointer;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	border-radius: 100px;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 20px;
	-moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.3);
	-o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.3);
	-webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.3);
	transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.3);
	
}

.checkbox:hover {
  background-color: rgba(0, 0, 0, 0.75);
}
.checkbox:hover:after {
  color: white;
}
.checkbox:after {
  line-height: 53px;
  font-family: "FontAwesome";
  display: block;
  content: "";
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  width: 100%;
  height: 100%;
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  font-size: 20px;
  -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
  transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5), font-size 0.35s cubic-bezier(0.5, 0, 0, 3);
}
.checkbox.is-checked:after {
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
  font-size: 30px;
  color: white;
}
.checkbox.is-checked:hover:after {
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.check:after {
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f00c";
  background-color: rgba(165, 194, 92, 0);
}
.check.is-checked:after {
  background-color: #61aa39;
}

/* button{
	margin-top: 110px;
	position: absolute;
	cursor: pointer;
	background-color: transparent;
	color: white;
	z-index: 5;
	border: 0;
	opacity: .5;
	
} */

button::before, button::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

button:hover{
	opacity: 1;
}

.prevBtn{
	left: 0;
}

.prevBtn:focus{
	outline: none;
}

.nextBtn{
	right: 0;
}

.nextBtn:focus{
	outline: none;
}

.row1 button, .row2 button{
	margin-top: 89px;
	position: absolute;
	cursor: pointer;
	background-color: transparent;
	color: white;
	z-index: 5;
	border: 0;
	opacity: .5;
	
}
}


.tile span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.tile span:nth-child(1)
{
  transform:rotate(0deg);
}

.tile span:nth-child(2)
{
  transform:rotate(180deg);
}

/* .tile span:nth-child(3)
{
  transform:rotate(180deg);
}

.tile span:nth-child(4)
{
  transform:rotate(270deg);
} */

.tile span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 8px;
  background: #61aa39;
  animation-duration: 0.5s;
  animation-name: animate;
}

.glitch-btn {
	background: transparent;
    border: 0px;
    color: #999999;
    z-index: 6;
    display: inline-block;
    position: absolute;
    top: 8%;
    right: 3%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}


.glitch-btn:focus {
	outline: none;
}


.glitch-btn:hover {
  color: #61aa39;
}

.glitch-btn:hover:before {
  background: #4e4e4e;
  transform: translateX(1250%) scaleX(23) scaleY(0.2);
}

.glitch-btn:before {
  content: "";
  position: absolute;
  left: -15%;
  top: -10%;
  background: #61aa39;
  width: 6px;
  height: 120%;
  padding: 0px;
  z-index: -1;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes glitchin {
  100% {
    transform: translate(0px, 0px);
  }
  95% {
    -webkit-transform: translate(0.5px, 0.05px);
    transform: translate(0.5px, 0.05px);
  }
  90% {
    -webkit-transform: translate(0.6px, -0.3px);
    transform: translate(0.6px, -0.3px);
  }
  85% {
    -webkit-transform: translate(1.2px, 0px);
    transform: translate(1.2px, 0px);
  }
  80% {
    -webkit-transform: translate(1.2px, 0.2px);
    transform: translate(1.2px, 0.2px);
  }
  75% {
    -webkit-transform: translate(0.5px, 1px);
    transform: translate(0.5px, 1px);
  }
  70% {
    -webkit-transform: translate(0.3px, 1.2px);
    transform: translate(0.3px, 1.2px);
  }
  65% {
    -webkit-transform: translate(-2.1px, 0.7px);
    transform: translate(-2.1px, 0.7px);
  }
  60% {
    -webkit-transform: translate(3.6px, 0.4px);
    transform: translate(3.6px, 0.4px);
  }
  55% {
    -webkit-transform: translate(0.45px, 1.8px);
    transform: translate(0.45px, 1.8px);
  }
  50% {
    -webkit-transform: translate(-3px, -1px);
    transform: translate(-3px, -1px);
  }
  45% {
    -webkit-transform: translate(-4.4px, 1.1px);
    transform: translate(-4.4px, 1.1px);
  }
  40% {
    -webkit-transform: translate(-4.2px, 2.4px);
    transform: translate(-4.2px, 2.4px);
  }
  35% {
    -webkit-transform: translate(2.6px, 1.3px);
    transform: translate(2.6px, 1.3px);
  }
  30% {
    -webkit-transform: translate(-1.4px, 2.8px);
    transform: translate(-1.4px, 2.8px);
  }
  25% {
    -webkit-transform: translate(6px, 0.75px);
    transform: translate(6px, 0.75px);
  }
  20% {
    -webkit-transform: translate(0px, -1.6px);
    transform: translate(0px, -1.6px);
  }
  15% {
    -webkit-transform: translate(-5.95px, -0.85px);
    transform: translate(-5.95px, -0.85px);
  }
  10% {
    -webkit-transform: translate(3.6px, 3.6px);
    transform: translate(3.6px, 3.6px);
  }
  5% {
    -webkit-transform: translate(-0.95px, -0.95px);
    transform: translate(-0.95px, -0.95px);
  }
}
.glitch-btn .mask {
  position: absolute;
  -webkit-backface-visibility: hidden;
  height: 20%;
  width: 100%;
  overflow: hidden;
  display: none;
}

.glitch-btn .mask span {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  top: -100%;
}

.glitch-btn .mask {
  top: 20%;
}

.glitch-btn:hover .mask {
  animation: glitchin 0.2s both;
}

.glitch-btn:hover .text {
  animation: fade-in 0.8s forwards;
}

.glitch-btn:hover .mask {
  display: block;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  100%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  
} 


@font-face {
	font-family: JejuHallasan;
  	src: url('/fonts/JejuHallasan.ttf');
}

@font-face {
	font-family: Monsori;
  	src: url('/fonts/TmonMonsori.ttf.ttf');
}

@font-face {
	font-family: dohyeon;
  	src: url('/fonts/BMDOHYEON_ttf.ttf');
}

@font-face {
	font-family: youth;
  	src: url('/fonts/Youth.ttf');
}

