.ftco-section {
    padding: 9em 0;
    position: relative;
}
.bg-light {
    background: #efefef !important;
}
body {
    background: #fff;
    line-height: 1.8;
}
body {
    margin: 0;
    text-align: left;
    background-color: #fff;
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ff5f5f;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
html {
    -webkit-tap-highlight-color: transparent;
}
*, *::before, *::after {
    box-sizing: border-box;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
}
@media (min-width: 992px)
.container {
    max-width: 960px;
}
@media (min-width: 768px)
.container {
    max-width: 720px;
}

@media (min-width: 576px)
.container {
    max-width: 540px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 992px)
.col-lg-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
@media (min-width: 768px)
.col-md-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
@media (min-width: 768px)
.blog-entry {
    margin-bottom: 30px;
}
.blog-entry {
    margin-bottom: 27px;
    border: solid 12px white;
    box-shadow: 10px 11px 5px grey;
    /* background: #fff; */
}

.blog-entry:hover{
    
}

.block-20 {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
    position: relative;
    display: block;
}
a {

    transition: .3s all ease;
    color: #eda84a;
}
a {

    background-color: transparent;
}
.blog-entry .text {
    /* border: 2px dashed #f1f1f17d; */
    /* border-left: 2px solid white; */
    /* border-bottom: 11px solid #f1f1f17d; */
    position: relative;
    border-top: 0;
    border-radius: 2px;
    /* margin-bottom: 22px; */
    background: #ffffff;
    text-align: center;
}
.p-4 {
    padding: 1.5rem !important;
}
.blog-entry .text:before, .blog-entry .text:after {
    position: absolute;
    content: "";
    /* background: white; */
}
*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
.blog-entry .meta > div a {
    color: #cccccc;
    font-size: 15px;
}
.blog-entry .meta > div {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 15px;
}
.blog-entry .meta > div a {
    color: #cccccc;
    font-size: 15px;
}
.blog-entry .text .heading {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 900;
    /* text-align: center; */
}
h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    line-height: 1.5;
    color: #000;
}
.blog-entry .text .heading a {
    color: #000;
}
.blog-entry .text:after {
    bottom: 0;
    right: -2px;
    width: 2px;
    height: 80px;
}
.blog-entry .text:before, .blog-entry .text:after {
    position: absolute;
    content: "";
    /* background: white; */
}
*, *::before, *::after {
    box-sizing: border-box;
}